tx-gallery {

  $gallery-width: 300px;
  $close-width: 30px;
  $transition-time: 0.3s;
  $transition-ease: ease-out;

  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  width: $gallery-width;

  .menu-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  label[for="menu-trigger"] {
    position: fixed;
    left: 10px;
    top: 65px;
    z-index: 1002;
    height: 15px;
    width: 20px;
    cursor: pointer;

    span, span:before, span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 3px;
      width: 20px;
      background: $grey;
      position: absolute;
      top: 5px;
      display: block;
      content: '';
    }

    span:before {
      top: -6px;
    }

    span:after {
      top: 6px;
    }

    span, span:before, span:after {
      transition: all 500ms ease-in-out;
    }
  }

  .menu-trigger:checked ~ label[for="menu-trigger"] span {
    background-color: transparent;
  }
  .menu-trigger:checked ~ label[for="menu-trigger"] span:before, .menu-trigger:checked ~ label[for="menu-trigger"] span:after {
    top: 0;
  }
  .menu-trigger:checked ~ label[for="menu-trigger"] span:before {
    transform: rotate(45deg);
    background-color: $white;
  }
  .menu-trigger:checked ~ label[for="menu-trigger"] span:after {
    transform: rotate(-45deg);
    background-color: $white;
  }

  .menu-trigger + label {
    transition: left $transition-time;
  }

  .menu-trigger:checked ~ .menu {
    transform: translate3d(0, 0, 0);
    transition: transform $transition-time $transition-ease;
    z-index: 1001;
  }

  .menu-trigger:checked + label {
    left: 260px;
  }


  .menu {
    width: $gallery-width;
    min-height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #343434;
    margin: 50px 0;
    display: block;
    transform: translate3d(-100%, 0, 0);
    transition: transform $transition-time $transition-ease;

    .gallery-header {

      .gallery-filter {
        width: 225px;
        padding: 0 15px;
        margin: 8px 15px;
      }

      .gallery-group {

      }
    }
  }
}
