header.site-header {

  $header-logo-dim: 32px;
  $header-subtext-font-size: 14px;
  $header-nav-font-size: 14px;
  $logo-spacing: 10px;
  $nav-height : $header-logo-dim + ($logo-spacing * 1);

  border-bottom: 1px solid $border-color-default;
  margin: $logo-spacing 0 0;
  padding-bottom: $logo-spacing;
  line-height: 1;

  .logo {
    position: relative;
    display: inline-block;
    float: left;

    a {
      width: $header-logo-dim;
      height: $header-logo-dim;
      display: inline-block;
      position: relative;
      opacity: 0.6;
      transition: opacity $transition-in-time $transition-in-type;

      &:hover {
        opacity: 0.7;
        transition: opacity $transition-out-time $transition-out-type;
      }
    }

    &:after {
      pointer-events: none;
      position: absolute;
      bottom: 0;
      top: 50%;
      transform: translateY(-50%);
      left: 120%;
      font-size: $header-subtext-font-size;
      color: $dark-grey;
      content: 'CX1';
      text-align: center;
      letter-spacing: 3px;
    }

    img {
      width: $header-logo-dim;
      height: $header-logo-dim;
      position: absolute;
      top: 0;
      left: 0;
      background-position: center center;
      background-size: $header-logo-dim $header-logo-dim;
    }
  }

  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: $header-logo-dim;
    line-height: $header-logo-dim;
    font-size: $header-nav-font-size;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      position: relative;
      margin-right: 15px;
      padding: 0;
      background: 0;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #666;
        text-decoration: none;
      }

      &.active a,
      & a:hover {
        color: #222;
      }
    }
  }
}
