body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
  justify-content:center;

  header {
    width: 100%;
    align-self: flex-start;
  }

  main {
    flex-grow: 1;
  }

  footer {
    width: 100%;
    align-self: flex-end;
  }
}

.flex-horizontal,
.flex-vertical {
  display: flex;
  align-items: stretch;
}

.flex-horizontal {
  flex-direction: row;
}

.flex-vertical {
  flex-direction: column;
}

.flex-grower {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-align-end {
  align-self: flex-end;
}

.flex-align-start {
  align-self: flex-start;
}

.flex-align-center {
  align-self: center;
}

.maxout-scroll-vertical {
  max-height: 100vh;
  overflow-y: scroll;
}
