body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
  justify-content:center;
  background: radial-gradient(at bottom right,#CCCCCC,#FFFFFF);

  header {
    width: 100%;
    align-self: flex-start;
  }

  main {
    flex-grow: 1;
    align-self: center;
  }

  .container {
    width: 960px; // for now, keep at 960 (not responsive)
    margin: auto auto;
    padding: 0 10px;
  }

  footer {
    width: 100%;
    align-self: flex-end;
  }
}

.flex-horizontal,
.flex-vertical {
  display: flex;
  align-items: stretch;
}

.flex-horizontal {
  flex-direction: row;
}

.flex-vertical {
  flex-direction: column;
}

.flex-grower {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-align-end {
  align-self: flex-end;
}

.flex-align-start {
  align-self: flex-start;
}

.flex-align-center {
  align-self: center;
}

.scroll-y {
  overflow-y: scroll;
}

.scroll-x {
  overflow-x: scroll;
}

.maxout-scroll-vertical {
  max-height: 100vh;
  overflow-y: scroll;
}

.sidepanel {
  max-width: 30vw;
  min-width: 15%;
  width: 20%;
  margin: 25px 15px 0 15px;
}

.maincolumn {
  max-width: 70vw;
  min-width: 65%;
  width: 70%;
  margin: 25px 15px 0 15px;
}
