.protocol-group {

  $border-color-inactive: $light-grey;
  $border-inner: 1px solid $border-color-inactive;

  $padding-internal: $layout-spacing-sm;

  display: block;
  padding: 0 $padding-internal;
  border: 2px solid $border-color-inactive;
  margin: $layout-spacing-md 0;
  font-size: 14px;
  background: transparentize($white, 0.1);

  &.selected {
    border-color: $primary;
  }

  .protocol-group-header,
  .protocol-group-footer {
    position: relative;
    padding: $padding-internal 0;
  }

  .protocol-group-header {
    line-height: 1em;
    cursor: all-scroll;

    * {
      cursor: pointer;
    }
  }

  .protocol-group-main {
    border-top: $border-inner;
  }

  .protocol-group-footer {
    border-top: $border-inner;

    &-actions {
      padding-bottom: $padding-internal;
    }

    &-content {
      background-color: $light-grey;
    }
  }

  //internals

  .group-name {
    min-height: 1em;
    min-width: 50px;
    padding: 0 0.5em;
  }

  .dropdown-menu {
    margin: 0;

    li {
      padding-left: 0;
    }
  }

  pre {
    font-size: 13px;
    background-color: transparent;
    border-radius: 0;
  }
}
