tx-protocol-actions {
  display: block;
  position: relative;
  padding: $layout-spacing-md $layout-spacing-sm;

  .protocol-title {
    position: relative;
    display: block;
    text-align: left;

    .dropdown-menu {
      left: 16%;
      width: 315px;
      max-width: 100%;
      transform: translateX(-50%);
      //margin: -1px 0 0;
      table {
        margin: 8px 0;
      }
    }
  }

  .protocol-actions {
    &-container {
      @extend .flex-horizontal;
      justify-content: space-between;
    }

    &-left {
      align-self: flex-start;
    }

    &-right {
      align-self: flex-end;
    }
  }
}
