//DEPRECATED

tx-protocolslider {

  $padding: 3px;
  $spacing: 2px;
  $border: 1px solid $border-color-default;

  .protocol-list {
    margin: 0 0 $spacing;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  a.protocol {
    display: block;
    position: relative;
    margin: $spacing 0 0;
    padding: $padding;
    color: $grey;
    outline: 0;

    &:first-child {
      margin-top: 0;
    }

    &.active {
      font-weight: $font-weight-bold;
      color: $black;
    }

    &:hover {
      color: $black;
    }
  }

}
