.protocol-setup {
  display: block;
  margin-top: $layout-spacing-md;
  margin-bottom: 0;
  font-size: 14px;

  .protocol-setup-header {
    padding: 3px 10px;
    background: transparentize($white, .5);
  }

  .protocol-setup-main {
    background: transparentize($white, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  table {
    border-collapse: separate;
    border-spacing: 20px 0px;
    margin: 0
  }

  &:after {
    height: 0;
    width: 0;
    position: relative;
    bottom: -8px;
    left: 50%;
    border: solid transparent;
    content: " ";
    pointer-events: none;
    border-color: rgba(255, 255, 255, .15);
    border-top-color: #fafafa;
    border-width: 10px;
    margin-left: -15px;
  }

}
