tx-protocol-op {
  display: block;
  width: 100%;
  margin: 0.5em 0 0.5em 2em;

  .operation-name {
    color:$black;
    cursor: all-scroll;
  }

  .operation-label {

    &.optional {
      opacity: 0.75;
    }
  }
}
