tx-protocol-op {
  display: block;
  margin: 0.75em;

  .operation-name {
    cursor: all-scroll;
  }

  .operation-label {

    &.optional {
      opacity: 0.75;
    }
  }

  .operation-field {

  }

  table {
    margin: 0;
  }
}
