tx-protocol-field {
  display: block;
  margin: 3px 0;

  .field-label {
    display: inline-block;
    width: 40%;
    color: $grey;
    text-align: right;
    padding-right: $layout-spacing-md;
  }

  .field-value {
    display: inline-block;
    text-align: left;
  }

  .field-variable {

  }
}
