////////////////////
// Basics
////////////////////

// colors

$white: #fafafa;
$black: #111111;
$dark: lighten($black, 10);
$dark-grey: #666666;
$grey: #a1a1a1;
$light-grey: #dddddd;
$primary: #6798d4;
$accent: #e966da;
$warning: #d2cc6a;
$error: #e7a9a9;

// fonts

$font-family: 'Roboto', 'Myriad Pro', Helvetica, Arial, sans-serif;
$font-size: 16px;
$font-size-sm: 12px;
$font-weight: 400;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-line-height: 1.5;

// z-index


// backgrounds

$bg-body: $white;
$bg-dark: $dark;
$bg-gallery: $light-grey;
$bg-footer: $bg-dark;
$bg-medgrey : #3d3d3d; //grey with lines (but without lines)

//borders

$border-color-default: $light-grey;

//fonts + links

$spacing-paragraph: 1.4em;

$color-font: $dark-grey;
$color-font-light: lighten($color-font, 10);
$color-font-dark: darken($color-font, 10);

$color-link-default: #888888;
$color-link-default-hover: #555555;

$color-link-post: $accent;
$color-link-post-hover: darken($accent, 15);

$color-font-footer: $white;
$color-link-footer: $color-link-post;
$color-link-footer-hover: $color-link-post-hover;

// transitions

$transition-in-time: 0.4s;
$transition-out-time: 0.2s;
$transition-in-type: ease-out;
$transition-out-type: ease-out;

////////////////////
// spacing
////////////////////

//layout

$layout-margin-default: 15px;
$layout-padding-lg: 15px;
$layout-padding-md: 10px;
$layout-padding-sm: 5px;


////////////////////
// Component-specific
////////////////////
