@mixin arrow-bottom ($default, $active, $arrowSize: 10px, $includeBackground: true, $activeClass: 'open') {

  @if $includeBackground {
    background: $default;
  }

  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: $default;
    border-width: $arrowSize;
    margin-left: -$arrowSize;
  }

  &.#{$activeClass} {
    @if $includeBackground {
      background: $active;
    }

    &:after {
      border-top-color: $active;
    }
  }
}