//buttons

.action-text {
  &,
  &:visited {
    color: $primary;
  }

  &:hover {
    color: $primary-active;
  }
}

//use with .btn
.action-button {
  border: 0;
  border-radius: 1em;
  padding: 0.35em 1.25em;
  margin: 0.25em 0.25em;
  color: $white;
  font-size: $font-size-md;
  font-weight: $font-weight-light;
  background-color: $primary;
  //transition: color $transition-short-time $transition-short-ease, background-color $transition-short-time $transition-short-ease;

  &:focus,
  &:active,
  &:hover {
    outline: none;
    color: $white;
    background-color: $primary-active;
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: $primary-disabled;
  }
}

.field-action-text,
.field-details-button {
  padding: 0;
  border-radius: 1em;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  background-color: transparent;
  //transition: color $transition-short-time $transition-short-ease, background-color $transition-short-time $transition-short-ease;

  &:focus,
  &:active,
  &:hover {
    background-color: $primary;
    color: $white;
    border-radius: 1em;
    //need special values esp. for auto-grow directive because inputs are usually just large enough to show input
    box-sizing: content-box;
    padding: $input-hover-padding-vert $input-hover-padding-hori;
    margin: (-$input-hover-padding-vert) (-$input-hover-padding-hori);
  }
}

.field-details-button {}

.field-action-text {
  color: $warning;
  font-weight: $font-weight-medium;
}