tx-content-menu {

  $close-width: 30px;
  $transition-time: 0.3s;
  $transition-ease: ease-out;

  z-index: $z-sidepanel;

  .menu-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked {
      ~ label[for="menu-trigger"] span {
        background-color: transparent;
      }
      ~ label[for="menu-trigger"] span:before,
      ~ label[for="menu-trigger"] span:after {
        top: 0;
      }
      ~ label[for="menu-trigger"] span:before {
        transform: rotate(45deg);
        background-color: $white;
      }
      ~ label[for="menu-trigger"] span:after {
        transform: rotate(-45deg);
        background-color: $white;
      }

      + label {
        left: 260px;
        transition: left $transition-long-time;
      }

      ~ .menu {
        transform: translate3d(0, 0, 0);
        transition: transform $transition-long-time $transition-ease;
      }
    }
  }

  //todo - clean this up!

  label[for="menu-trigger"] {
    position: fixed;
    left: $layout-width-padding-side;
    top: $layout-height-header + $layout-main-spacing-top;
    z-index: $z-sidepanel + 2;
    height: 15px;
    width: 20px;
    cursor: pointer;

    span,
    span:before,
    span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 3px;
      width: 20px;
      background: $grey;
      position: absolute;
      top: 5px;
      display: block;
      content: '';
    }

    span:before {
      top: -6px;
    }
    span:after {
      top: 6px;
    }

    span, span:before, span:after {
      transition: all 500ms ease-in-out;
    }
  }

  .menu {
    width: $layout-width-sidepanel;
    min-height: 100vh; //todo - fix. this doesn't work when not filling window
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-sidepanel + 1;
    background-color: $content-menu-bg;
    padding: $layout-spacing-md $layout-spacing-md ($layout-spacing-lg + $layout-height-header);
    margin: 50px 0;
    display: block;
    transform: translate3d(-100%, 0, 0);
    transition: transform $transition-long-time $transition-long-ease;
    overflow-y: scroll;

    .new-protocol-button {
      color: $warning;
    }

    .contentMenu-loading {
      color: $white;
      text-align: center;
      padding: $layout-spacing-lg;
    }

    .contentMenu-header {

    }

    .contentMenu-group {
      padding: 10px 0 0;
    }

    .contentMenu-heading {
      color: $light-grey;
    }

    .contentMenu-item {
      color: $white;

      &:hover,
      &.active {
        color: $primary;
      }
    }
  }
}
