//todo - move to variables

// The dropdown menu
[dropdown],
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  top: 100%;
  float: left;
  min-width: 50px;
  padding: 3px 0;
  margin: 2px 0;
  list-style: none;
  font-size: $font-size-sm;
  text-align: left;
  background-color: $white;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 15px $light-grey;

  .divider {
    background: $grey;
  }

  > li > a {
    display: block;
    padding: 2px 15px;
    clear: both;
    font-weight: 500;
    line-height: $line-height-base;
    color: $black;
    white-space: nowrap;
  }

  &-right {
    left: auto;
    right: 0;
  }

  &-left {
    left: 0;
    right: auto;
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $white;
    color: $primary;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: $primary;
    background-color: $white;
    text-decoration: none;
    outline: 0;
  }
}


// Open state for the dropdown
.open {
  > .dropdown-menu {
    display: block;
  }
  > a {
    outline: 0;
  }
}
