//todo - move to variables

// The dropdown menu
[dropdown],
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  z-index: $z-dropdown;
  display: none;
  top: 100%;
  float: left;
  min-width: 50px;
  padding: 3px 0;
  margin: 2px 0;
  list-style: none;
  font-size: $font-size-sm;
  text-align: left;
  background-color: $white;
  border: none;
  border-radius: 1px;
  box-shadow: $box-shadow-dropdown;

  .open > & {
    display: block;
    outline: 0;
  }

  .divider {
    background: lighten($light-grey, 10);
    margin: 0.75em 0;
  }

  > li > a {
    display: block;
    padding: 0.25em 2em;
    clear: both;
    font-weight: $font-weight-medium;
    line-height: $line-height-base;
    color: $black;
    white-space: nowrap;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $white;
      color: $primary;
    }
  }

  > .active > a {
    &,
    &:hover,
    &:focus {
      color: $primary;
      background-color: $white;
      text-decoration: none;
      outline: 0;
    }
  }

  &-right {
    left: auto;
    right: 0;
  }

  &-left {
    left: 0;
    right: auto;
  }
}