@import "variables";

footer {
  background: $footer-bg;
  text-align: center;
  color: $footer-color;
  font-size: $footer-font-size;
  padding: 0 $layout-width-padding-side $layout-width-padding-side;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .status {
    margin: 0;
    align-self: center;

    tx-inspector {
      max-height: 45px;
      max-width: 70%;
    }
  }

  .logo-company {

    img {
      width: 91px;
      height: 15px;
      margin: 0;
    }
  }
}
