@import "variables";

footer {
  background: $footer-bg;
  position: relative;
  text-align: center;
  color: $footer-color;
  font-size: $footer-font-size;
  padding: 0 $layout-width-padding-side $layout-width-padding-side;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .status {
    margin: 0;
    align-self: center;

    tx-inspector {
      max-height: 45px;
      max-width: 70%;
    }
  }

  .footer-link {
    padding: 0 10px;
    color: $grey;

    &:hover {
      color: $dark-grey;
    }
  }

  .logo-company {
    display: inline-block;
    padding: 0 10px;

    img {
      width: 91px;
      height: 15px;
    }
  }
}
