header.site-header {

  z-index: $z-header;
  line-height: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  background-color: $bg-white-barelytransparent;

  .logo {
    display: flex;
    width: $logo-user-width;
    align-items: center;

    img {
      width: $header-logo-dim;
      height: $header-logo-dim;
      margin: $header-logo-spacing-side;
      background-position: center center;
      background-size: $header-logo-dim $header-logo-dim;
    }

    span {
      font-size: $header-nav-font-size;
      font-weight: $font-weight-bold;
      color: $light-grey;
    }

    .version {
      display: inline-block;
      background-color: $warning;
      color: $white;
      margin-left: 10px;
      padding: 4px 5px;
      border-radius: 4px;
    }
  }

  nav {
    display: inline-block;
    height: $nav-height;
    line-height: $nav-height;
    font-size: $header-nav-font-size;
    font-weight: $font-weight-bold;

    a.nav-link {
      height: 100%;
      display: inline-block;
      margin: 0 $layout-spacing-lg;
      color: $light-grey;
      text-decoration: none;

      &:hover {
        color: $dark-grey;
      }

      &.disabled {
        cursor: default;
        &:hover {
          color: $light-grey;
        }
      }

      &.active {
        border-bottom: 2px solid $primary;
      }
    }
  }

  .user {
    display: flex;
    flex-flow: row wrap;
    height: $nav-height;
    align-items: center;
    width: $logo-user-width;
    justify-content: flex-end;

    .user-toggle {
      cursor: pointer;
      display: inline-block;
      margin: 0 $layout-width-padding-side;
      font-size: $header-nav-font-size;
      color: $light-grey;
      opacity: 0.6;
      transition: opacity $transition-long-time $transition-long-ease;

      &:hover {
        opacity: 0.5;
        color: $dark-grey;
        transition: opacity $transition-short-time $transition-short-ease;
      }
    }
  }
}
