.form-control {
  &.ng-invalid,
  &.ng-error {
    //bootstrap
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  }
}

.input-styled {
  -webkit-appearance: none;
  display: inline-block;
  height: 25px;
  border: 2px solid transparent;
  padding:0;
  margin:0;
  outline: 0;
  background: transparent;
  color: $black;
  cursor: text;
  text-align: left;

  &:hover {
    -webkit-appearance: none;
    background: $primary;
    color: $white;
    text-align: center;
    padding: 0 1px;
    &::-webkit-input-placeholder {
      color: $white;
    }
  }

  &:focus {
    -webkit-appearance: none;
    border: 2px solid $primary;
    background: transparent;
    color: $black;
    text-align: left;
    padding:0;
    &::-webkit-input-placeholder {
      color: transparent;
    }
  }

  &::-webkit-input-placeholder {
    color: $warning;
    text-align: center;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.true-false-button {
  width: 100px;
  height: 21px;
  background: $light-grey;
  border-radius: 50px;
  position: relative;

  &:before {
    content: 'TRUE';
    color: $grey;
    position: relative;
    left: 7px;
    z-index: 0;
  }

  &:after {
    content: 'FALSE';
    color: $grey;
    position: relative;
    right: 3px;
    z-index: 0;
  }

  & label {
    display: block;
    width: 52px;
    height: 21px;
    top:0;
    border-radius: 50px;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    left: 48px;
    z-index: 1;
    background: $dark-grey;
    color: $white;

    &:after {
      content: 'FALSE';
      position: relative;
      left: 3px;
    }
  }

  & input[type=checkbox]:checked + label {
    width: 48px;
    left: 0;
    background: $primary;

    &:after {
      content: 'TRUE';
      left: 4px;
    }
  }

  input[type=checkbox] {
    visibility: hidden;
  }
}

.input-unstyled {
  display: inline-block;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  background: transparent;
  cursor: text;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}