[ng-click] {
  cursor: pointer;
}

[contenteditable] {
  cursor: pointer;
}

.drag-handle {
  cursor: all-scroll;
}

.drop-hover-top {
  border-top: $drop-hover-border;
}

.drop-hover-bottom {
  border-bottom: $drop-hover-border;
}

.dragover {
  background: $success;
}

.dragover-err {
  background: $error;
}

//bootstrap override
.close {
  line-height: 0.75em;
}
