.modal-background {
  color: $white;
  background-color: $modal-bg;
}

.modal-overlay {
  position: fixed;
  z-index: $modal-z;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $bg-overlay;
}

.modal-dialog {

  $modal-size-heading: 2em;
  $modal-space-close: 5px;
  $modal-padding-top: 1em;
  $modal-padding-side: 1em;

  z-index: $modal-z +1;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @extend .modal-background;

  .modal-wrapper {
    width: 100%;
    padding: 0.5em;
    position: relative;
  }

  .modal-heading {
    position: relative;

    .modal-title {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .modal-close {
    position: absolute;
    top: $modal-space-close;
    right: $modal-space-close;
    cursor: pointer;
    font-size: 150%;
    line-height: 0.5;
    font-weight: bold;
  }

  .modal-transclude {
    display: block; //necessary for custom element
    min-height: 250px;
    max-height: 80vh;
    overflow-y: scroll;
    margin: ($modal-padding-top + $modal-size-heading) auto;

    //styling of inner content in a modal
    color: $white;

    .centered & {
      display: table;
    }
  }

  a[dropdown-toggle] {
    color: $white;

    &:hover {
      color: $light-grey;
    }
  }

  .modal-constrain & {
    .modal-wrapper {
      width: 600px;
      margin: 0 auto;
    }
  }

  input,
  .input-unstyled {
    color: $white;
  }

  .form-control {
    color: $black;
  }

}
