.notify-message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: $z-notification;
  max-width: 50%;
  text-align: center;
  padding: 0 30px 0 15px;
  border: none;

  transition: top 0.5s ease-out, opacity 0.2s ease-out;

  visibility: hidden;

  &.notify-error {
    background: $error;
    color: $white;
  }

  &.notification {
    background: $warning;
    color: $black;
  }

  a {
    font-weight: bold;
    &:hover {
      color: inherit;
    }
  }

  .notify-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 21px;
    font-weight: 700;
    color: $white;

    position: absolute;
    top: 3px;
    right: 5px;
    line-height: 15px;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: .5;
    }
  }

  .notify-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

}

