body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
  justify-content:center;
  background-image: radial-gradient(at bottom right,#CCCCCC,#FFFFFF);

  &:before {
    content: " ";
    background-image: url('/images/phix-background.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  header {
    width: 100%;
    align-self: flex-start;
  }

  main {
    flex-grow: 1;
    align-self: center;
  }

  .container {
    width: $layout-width-page;
    margin: auto auto;
    padding: 0 $layout-container-padding-side 0 $layout-container-padding-left;
  }

  footer {
    width: 100%;
    align-self: flex-end;
  }
}

.flex-child,
.flex-horizontal,
.flex-vertical {
  display: flex;
  align-items: stretch;
}

.flex-horizontal {
  flex-direction: row;
}

.flex-vertical {
  flex-direction: column;
}

.flex-grower {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-align-end {
  align-self: flex-end;
}

.flex-align-start {
  align-self: flex-start;
}

.flex-align-center {
  align-self: center;
}

.scroll-y {
  overflow-y: scroll;
}

.scroll-x {
  overflow-x: scroll;
}

.maxout-scroll-vertical {
  max-height: 100vh;
  overflow-y: scroll;
}

.sidepanel,
.maincolumn {
  margin: 25px 0 0;
}

.sidepanel {}

.maincolumn {}

// build page

.operation-list {
  width: $layout-opList-width;
  float: left;
  display: block;
}

.protocol-steps {
  float: left;
  width: $layout-operations-width;
  //padding to handle overflow-x hidden
  padding-left: $layout-operations-padding-left;
  padding-right: $layout-operations-padding-right;
}