.plate-wrap {

  &-spin,
  &-incubate,
  &-seal,
  &-cover,
  &-uncover,
  &-unseal {
    background-color: $black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: initial;
    width: 100%;
    height: 100%;

    tx-plate {
      opacity: 0.75;
      z-index: 1;
      line-height: 0; //weird hack to prevent bottom black border
    }
  }

  &-seal,
  &-cover {
    padding: 10px;
    border: 10px solid $black;
    border-radius: 10px;
  }

  &-spin {
    background-image: url('../images/spin.png');
  }

  &-incubate {
    background-image: url('../images/incubate.png');
  }

  &-seal {
    background-image: url('../images/seal.png');
  }

  &-unseal {
    background-image: url('../images/uncover.png');
  }

  &-cover {
    background-image: url('../images/cover.png');
  }

  &-uncover {
    background-image: url('../images/uncover.png');
  }
}
