tx-plategraph,
tx-timepointgraph {
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1.5px;
    transition: stroke 0.25s ease-out;

    &.line-hover,
    &.selected {
      stroke: #ff1db5;
      stroke-width: 3px;
      transition: stroke 0.5s ease-in;
    }

    &.hidden {
      stroke: none !important;
    }
  }

  .voronoi {

    path {
      stroke: none;
      fill: transparent;

      &.hidden {
        stroke: none !important;
        pointer-events: none;
      }
    }

    &.visible {
      path {
        stroke: rgba(200,100,100,0.5);
        fill: rgba(0,0,0,0.1);
        stroke-width: 0.5px;
      }
    }
  }
}
