tx-plate {
  .axis {
    path {
      stroke: none;
    }
    line {
      stroke: none;
    }
  }

  .well {
    fill: transparent;
    stroke-width: 0.5px;
    stroke: #000;

    &:hover,
    &.hovered {
      fill: $brand-info !important;
    }

    &.selected {
      stroke: $brand-warning !important;
      stroke-width: 4px;
    }

    &.hidden {
      fill: #ccc !important;
    }
  }

  .extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
  }

  .wellTooltip div {
    background : rgba(25,25,25,0.75);
    box-shadow: 0 0 2px rgba(25,25,25,0.25);
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
    height: 100%;
    width: 100%;
    color: white;
  }
}
