.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;

  &.line-hover {
    stroke: #ff1db5;
    stroke-width: 3px;
  }
}

.overlay {
  fill: none;
  pointer-events: all;
}

.voronoi path {
  fill: none;
  pointer-events: all;
  stroke: red; //debugging
}
