tx-protocol-group {

  $border-color-inactive: $light-grey;
  $border-inner: 1px solid $border-color-inactive;
  $padding-internal: $layout-spacing-sm;

  display: block;
  position: relative;
  margin: 0;
  font-size: 14px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .protocol-group-inner {
    &.show-group {
      background: transparent;
      border: 2px solid $white;
    }
  }

  .protocol-group-header {
    position: relative;
    line-height: 1em;
    cursor: row-resize;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
    padding: $step-header-space $step-header-space ($step-header-space - $drop-hover-border-width);
    border-bottom: $drop-hover-border-phantom;

    &.drop-hover {
      border-bottom: $drop-hover-border;
    }

    .group-repeat {

      background: $white;
      color: $grey;
      border-radius: 10px;
      input {
        text-align: right;
        width: 25px;
      }
      &:after {
        content: 'x';
        font-size: 11px;
        cursor: none;
        position: relative;
        left: -5px;
      }

      &:hover {
        background: $primary;
        color: $white;
      }
      &.selected {
        background: $primary;
        color: $white;
      }
    }

  }

  .protocol-group-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  /*
  //all ops have arrows, not groups
  &:not(:last-child) {
    @include arrow-bottom($step-background-inactive, $step-background-active, $includeBackground: false);
  }
  */

  tx-protocol-op:after {
    margin-top: $drop-hover-border-width;
  }

  &:last-child {
    tx-protocol-op:last-child:after {
      border: none;
    }
  }

  .show-group tx-protocol-op:last-child:after {
    margin-top: $drop-hover-border-width * 2;
  }

  //internals

  .group-name {
    min-height: 1em;
    min-width: 85px;
    cursor: text;
  }
}

//todo - move so more explicit that protocol-op uses this too
.protocol-item-space-top {
  background: transparent;
  height: $layout-spacing-md;

  &.drop-hover {
    border-bottom: $drop-hover-border;
  }

  :first-child > & {
    display: none;
  }
}
