tx-protocol-op {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5px 3em;
  background: $step-background-inactive;

  .operation-name {
    color: $black;
    cursor: all-scroll;
    width: 100%;
    padding: 3px 5px;
    display: flex;
    justify-content: space-between;
  }

  .operation-label {

    &.optional {
      opacity: 0.75;
    }
  }

  .operation-fields {
    width: 100%;
  }

  table {
    border-spacing: 5px 10px;
    margin: 0;
    tr {
      td {
      &:first-child {
        text-align: right;
      }
      &:last-child {
        text-align: left;
      }
      }
    }
  }

  @include arrow-bottom($step-background-inactive, $step-background-active);
}
