tx-protocol-editor {
  display: block;

  .protocol-instructions {
    padding: 0 0 $layout-spacing-md;
  }

  .editor-bottom-space{
    &.drop-hover {
      border-top: $drop-hover-border;
    }
  }
}
