.protocol-setup {
  display: block;
  position: relative;
  margin-top: $layout-spacing-md;
  margin-bottom: 0;
  font-size: 14px;

  .protocol-setup-header {
    padding: 3px 10px;
    background: transparentize($white, .5);
    outline: none;
  }

  .protocol-setup-main {
    background: transparentize($white, .5);
    display: flex;
    flex-direction: column;
    align-items: center;

    .row {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      &:last-child {
        padding: 5px 0;
      }
    }

    .add-parameter {
      background: transparent;
      color: $warning;
      text-align: center;
      width: 130px;
      height: 30px;
      border: none;
      position: relative;

      &:hover {
        color: $white;
        background: $primary;
      }

      &.disabled {
        color: $light-grey;
        background: transparent;
        cursor: not-allowed;
      }
    }

    .parameter-list {}

    .parameter-option {

    }

    .cell-1 {
      display: flex;
      flex-direction: row;
      width: 45%;
      justify-content: flex-end;
      align-items: center;

      input {
        text-align: left;
      }
    }
    .cell-2 {
      display: flex;
      flex-direction: row;
      width: 50%;
      justify-content: space-between;
      align-items: center;

      tx-protocol-field-inner {
        width: 100%;
        justify-content: space-between;
      }
    }
    .cell-3 {
      width: 5%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 20px 0;
    margin: 0;
    display: flex;

    tr:last-child {
      display: flex;
      justify-content: space-around;
    }
  }

  &:after {
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    border: solid transparent;
    content: " ";
    pointer-events: none;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-width: 10px;
    margin-left: -15px;
  }

  .highlight {
    background: $accent;
    color: $white;
  }

  button {
    -webkit-appearance: none;
    display: inline-flex;
    justify-content: space-around;
    align-items: baseline;
    background: transparent;
    color: $black;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 2px;
    &:hover {
      -webkit-appearance: none;
      background: $accent;
      color: $white;
    }
    span {
      display: inline-block;
      margin: 0 3px;
    }
  }

  @include arrow-bottom($step-background-inactive, $step-background-active);
}
