.protocol-group {

  $border-color-inactive: $light-grey;
  $border-inner: 1px solid $border-color-inactive;
  $padding-internal: $layout-spacing-sm;

  display: block;
  margin: $layout-spacing-md 0;
  font-size: 14px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
    .protocol-group-wrap {
      &:after {
        border: none;
        content: " ";
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        margin: 0;
        position: absolute;
        pointer-events: none;
      }
    }
  }

  .protocol-group-wrap {

    .protocol-group-header {
      position: relative;
      line-height: 1em;
      cursor: row-resize;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: transparent;
      padding: 5px 5px;

      .group-repeat {

        background: $white;
        color: $grey;
        border-radius: 10px;
        input {
          text-align: right;
        }
        &:after {
          content: 'x';
          cursor: none;
          position: relative;
          left: -15%;
        }

        &:hover {
          background: $accent;
          color: $white;
        }
        &.selected {
          background: $accent;
          color: $white;
        }
      }

    }

    .protocol-group-main {
      display: flex;
      flex-direction: column;
      align-items: center;

      tx-protocol-op {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
          &:after {
            border: none;
            content: " ";
            top: 0;
            left: 0;
            height: 0;
            width: 0;
            margin: 0;
            position: absolute;
            pointer-events: none;
          }
        }
      }
    }

    &.show-group {
      background: transparent;
      border: 2px solid $white;
    }

    &:after {
      top: 103%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: rgba(255,255,255,0.5);
      border-width: 10px;
      margin-left: -15px;
    }
  }

  //internals

  .group-name {
    min-height: 1em;
    min-width: 85px;
    cursor: text;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .dropdown-menu {
    margin: 0;
    right: 0;
    left: auto;
    top:20px;
  }
}
