tx-operation-popover {

  $oppop-fromTop: 15px;

  $oppop-arrow-width: 15px;
  $oppop-arrow-top: $oppop-arrow-width + $oppop-fromTop;

  $oppop-padding: $layout-spacing-md;

  /*
  * > & {
    display: none;
  }

  *:hover > & {
    display: block;
  }
  */

  position: absolute;
  left: calc(100% + #{$oppop-arrow-width});
  top: 50%;
  transform: translateY(-50%);
  background-color: $white;
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
  width: $layout-opSummary-width + ($layout-width-columnspace - $oppop-arrow-width);
  box-shadow: $box-shadow-popover;

  &:after {
    //maintain pointer events so can hover back into it
    z-index: -1; //but z-index backward so doesn't compete with header actions
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    border-right-color: $white;
    border-width: $oppop-arrow-width;
    margin-top: -$oppop-arrow-width;
  }

  /*
  &.ng-enter,
  &.ng-leave {
    transition: opacity $transition-out-time $transition-out-ease;
  }

  &.ng-leave.ng-leave-active,
  &.ng-enter {
    opacity: 0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
  }
  */

  .oppop-wrap {
    padding: $oppop-padding;

    tx-operation-summary {
      padding: $oppop-padding 0 0;
      border-top: 1px solid $light-grey;
      margin: $oppop-padding 0 0;
    }

    tx-operation-summary,
    .op-description {
      &:empty {
        display: none;
        border: 0;
      }
    }

    tx-plate {
      width: 100%;
    }
  }
}