tx-protocol-setup {
  display: block;
  position: relative;
  padding-top: $layout-spacing-md;
  padding-bottom: $layout-spacing-md;
  font-size: $font-size-md;
  border-bottom: $drop-hover-border-phantom;

  &.drop-hover {
    border-bottom: $drop-hover-border;
  }

  //div to aid drag and drop (padding outside wrap)
  .protocol-setup-wrap {
    position: relative;
    @include arrow-bottom($step-background-inactive, $step-background-active, $activeClass: 'open');
  }

  .protocol-setup-header {
    padding: 3px 10px;
    outline: none;

    .setup-heading {
      font-weight: $font-weight-light;
      color: $black;
    }
  }

  .protocol-setup-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .setup-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .setup-parameter-delete {
      opacity: 0;
      position: absolute;
      right: $layout-spacing-md;

      &:hover ~ * {
        background-color: $primary;
      }
    }

    &:hover {
      .setup-parameter-delete {
        opacity: 1;
      }
    }

    &.setup-variable-placeholder {
      span {
        text-align: center;
        width: 100%;
      }
    }
  }

  .parameter-inner {
    position: relative;
    width: 100%;
  }

  .parameter-info,
  .parameter-value,
  .parameter-type,
  .parameter-name {
    width: 50%;
    display: inline-block;
  }

  .parameter-info,
  .parameter-type {
    text-align: right;
    padding-right: $layout-spacing-md;
  }

  .parameter-name,
  .parameter-value {
    text-align: left;
    padding-left: $layout-spacing-md;
  }

  .parameter-info {
    font-weight: $font-weight-light;

    .parameter-type {
      color: $light-grey;
    }

    .parameter-name {
      color: $dark-grey;
    }
  }

  .parameter-value {
    text-align: left;

    .field-value {
      width: 100%;
      padding: 0;
    }
  }

  &:last-child {
    justify-content: center;
    padding: 5px 0;
  }

  /*
  //todo - make this a class for setup-variable
  .highlight {
    background: $primary;
    color: $white;
  }
  */

  .add-parameter {
    background: transparent;
    color: $warning;
    text-align: center;
    width: 130px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border: none;
    position: relative;

    &:hover {
      color: $white;
      background: $primary;
    }
  }

  .parameter-list {
  }

  .parameter-option {
  }

  .field-parameter-toggler {
    display: none;
  }
}
