.protocol-selector {

  $transition-time: 0.5s;

  .title {
    transition: transform $transition-time;
  }

  .protocol-list {
  }

  &.collapsed {

    .title {
      margin: 0;
      transform: rotate(-90deg) translateX(-50%);
    }

    .protocol-list {
      display: none;
    }
  }
}
