.operation-list {
  width: $layout-opList-width;
  display: block;
}

tx-operation-list {
  display: block;
  width: $layout-opList-width;
  margin-left: -$oplist-padding-left;
  //handling of sticky when page height > screen
  max-height: calc(100vh - 80px);
  overflow-y: scroll;

  .operation-list-heading {
    font-weight: $font-weight-light;
    padding: 0 $oplist-padding-left;
    margin: 0 0 0.25em;
    border: 0;
  }

  &.sticky {
    padding: 15px 0 90px; //padding-top, 0, sticky + padding-top + accomodate footer
  }
}

//outside so that styling can apply when dragging
.operation-list-item {
  display: block;
  padding: 4px $oplist-padding-left;
  width: $layout-opList-width;
  margin: 0;
  border: 0;
  font-weight: $font-weight-medium;

  &.active,
  &:hover {
    background-color: white;
    color: $primary;
    transition: background $transition-short-time $transition-short-ease, color $transition-short-time $transition-short-ease;
  }
}