tx-protocol-field {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 3px 0;

  .field-label {
    display: inline-block;
    width: 40%;
    color: $grey;
    text-align: right;
    padding-right: $layout-spacing-md;
  }

  .field-value {
    display: inline-block;
    width: 100%;
    text-align: left;
  }

  .field-value-inner {
    display: inline-block;
    width: 100%;

    tx-protocol-field-inner {
      display: flex;
      flex-direction: row;
    }
  }

  .field-variable {
    color: $primary;
  }

  .field-parameter-toggler {
    padding: 4px;
    position: relative;
    cursor: pointer;
    font-size: 10px;
    color: $white;
    text-align: center;
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.15s ease-out;

    &.active {
      opacity: 1;
      background-color: $primary;
    }
  }

  .field-parameter-dropdown {
    color: $grey;

  }

  &:hover {
    .field-parameter-toggler {
      opacity: 1;
      background-color: transparentize($grey, 0.5);
    }
  }
}
