.protocol-editor-header {

  .protocol-name {
    display: inline-block;
    margin: 5px 3px;
  }
}

tx-protocol-actions {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.protocol-metadata-field {
  min-width: 300px;
  border-bottom: 1px solid $grey;
}

