tx-protocol-field {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  margin: 3px 0;

  .field-label {
    display: inline-block;
    width: 50%;
    color: $grey;
    text-align: right;
    padding-right: $layout-spacing-md;
    &:after {
      content: ':';
    }
  }

  .field-value {
    display: inline-block;
    width: 50%;
    padding-left: 10px;
    text-align: left;
  }

  .field-value-inner {
    display: inline;
    width: 100%;

    tx-protocol-field-inner {
      display: flex;
      flex-direction: row;

      .button {
        justify-content: center;
        align-items: baseline;
        background: transparent;
        border: none;
        cursor: pointer;
        text-align: center;
        padding:2px 0;
        outline: 0;
        &:hover {
          background: $primary;
          color: $white;
          padding: 2px 5px;
          .button-label {
            color: $white;
          }
        }
      }
    }
  }

  //buttons

  .field-action-button,
  .field-details-button {
    padding: 3px 8px;
    border-radius: 1em;
    font-size: 12px;
    font-weight: bold;

    &:hover {
      color: $white;
      background-color: $primary;
    }
  }

  .field-details-button {
    background-color: $light-grey;
  }

  .field-action-button {
    color: $warning;
    font-weight: normal;
  }


  //PARAMETER

  .field-parameter {
    color: $primary;
  }

  .field-parameter-toggler {
    margin: 0 10px;
    padding: 4px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    color: $white;
    text-align: center;
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.15s ease-out;

    &.active {
      opacity: 1;
      background-color: $primary;

      &:hover {
        background-color: $primary;
      }
    }
  }

  .field-parameter-dropdown {
    color: $black;
  }

  &:hover {
    .field-parameter-toggler {
      opacity: 1;
      background-color: $light-grey;
      transition: opacity $transition-out-time ease-in;
    }
  }
}
