tx-protocol-editor {
  display: block;

  .protocol-instructions {
    padding: 0 0 $layout-spacing-md;
  }

  .editor-bottom-space{
    min-height: 100px;

    &.drop-hover {
      border-top: $drop-hover-border;
    }
  }
}

.protocol-landing {
  //todo
}