.results {

  p {
    margin: 0;
  }

  .sidepanel {
    width: 350px;
    min-width: 350px;
  }

  .maincolumn {

  }

  .status-heading {
    margin-top: 0;
  }


  //if this is position-fixed, we need this

  .results-summary {
    max-width: 530px;
  }

  .results-summary-wrap {
    width: 100%;
    max-width: inherit;
  }
}

.summary-resource {
  position: relative;
  margin: $layout-spacing-md 0;

  .resource-download {
    z-index: 2;
    margin: $layout-spacing-md;
  }

  .resource-image {
    max-width: 100%;
  }
}