.results {

  p {
    margin: 0;
  }

  .sidepanel {
    width: 350px;
    min-width: 350px;
  }

  .maincolumn {

  }

  .status-heading {
    margin-top: 0;
  }


  //if this is position-fixed, we need this

  .results-summary {
    max-width: 530px;
  }

  .results-summary-wrap {
    width: 100%;
    max-width: inherit;
  }
}