.tx-popover {

  $popover-arrow-width: 12px;

  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-popup;

  padding:0;
  border: 0;
  white-space: normal;

  background: $white;
  box-shadow: $box-shadow-popover;

  max-width: 600px;

  &.open {
    display: block;
  }

  .close {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  .tx-popover-content {
    padding: $layout-spacing-sm $layout-spacing-md 0;
  }

  .tx-popover-title {
    font-size: $font-size-md;
    font-weight: $font-weight-light;
    padding: 0;
    margin: 0 0 $layout-spacing-sm;
  }

  .tx-popover-transclude {
    width: inherit;
  }

  //todo - move this to variables, make consistent across all popovers

  > .arrow {
    pointer-events: none;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: $popover-arrow-width;
    content: " ";
  }

  &.top     {
    left: 50%;
    top: -$popover-arrow-width;

    > .arrow {
      left: 50%;
      border-top-color: $white;
      top: 100%;
      margin-left: -$popover-arrow-width;
    }
  }

  &.bottom  {
    left: 50%;
    top: 100%;

    > .arrow {
      left: 50%;
      border-bottom-color: $white;
      bottom: 100%;
      margin-left: -$popover-arrow-width;
    }
  }
}

//todo - include arrows
