.tx-table {
  display: table;
  width: 100%;

  &.dark {
    background: $black;
  }

  &-header {
    display: table-row;
    color: $light-grey;
  }

  &-item {
    display: table-row;
    color: $white;

    &.selected {
      background-color: $black;
    }

    &.active,
    &:hover {
      background-color: $primary;
    }
  }

  &-item-field {
    display: table-cell;
    padding: 0 0.25em;
  }
}
