h1,h2,h3,h4 {
  text-transform: none;
}

.thin {
  font-weight: $font-weight-light;
}

.text-sm {
  font-size: $font-size-sm;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-error {
  color: $error;
}

.text-warning {
  color: $warning;
}