////////////////////
// Basics
////////////////////

// colors

$white: #ffffff;
$light-grey: #CCCCCC;
$grey: #a1a1a1;
$dark-grey: #666666;
$black: #191919;

$dark: lighten($black, 10);

$primary: #6E89E4;
$warning: #FF8000;
$error: #FF0000;
$notify: #FFFF7F;
$success: #50c050;

$primary-disabled : transparentize($primary, 0.25);
$primary-active : lighten($primary, 5);

// fonts

$font-family: Helvetica Neue, Helvetica, 'Myriad Pro', Arial, sans-serif;
$font-family-light: Helvetica Neue Light, Helvetica, 'Myriad Pro', Arial, sans-serif;
$font-family-bold: Helvetica Neue Medium, Helvetica Bold, 'Myriad Pro', Arial, sans-serif;
$font-family-monospace: Courier, monospace;

$font-size-lg: 16px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: 11px;

$font-size-default: $font-size-md;

$font-weight: 400;
$font-weight-light: 200;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-bold: 600;

$font-line-height: 1.5;

// z-index

$z-sidepanel: 1000;
$z-header: 2000;
$z-dropdown: 4000;
$z-popup: 5000;
$z-notification: 9000;
$z-overlay: 10000;

// backgrounds

$bg-transparency-factor-default: 0.5;
$bg-body: $white;
$bg-dark: $dark;
$bg-white: $white;
$bg-overlay: transparentize($black, .75);
$bg-white-barelytransparent: transparentize($bg-white, 0.05);
$bg-white-semitransparent: transparentize($bg-white, $bg-transparency-factor-default);
$bg-primary-semitransparent: transparentize($primary, 0.75);

//borders

$border-color-default: $light-grey;

//fonts + links

$spacing-paragraph: 1.4em;

$color-font: $dark-grey;
$color-font-light: lighten($color-font, 10);
$color-font-dark: darken($color-font, 10);

$color-link-default: $dark-grey;
$color-link-default-hover: $black;

$color-link-post: $primary;
$color-link-post-hover: darken($primary, 15);

$color-font-footer: $white;
$color-link-footer: $color-link-post;
$color-link-footer-hover: $color-link-post-hover;

// transitions

$transition-long-time: 0.4s;
$transition-short-time: 0.2s;
$transition-long-ease: ease-out;
$transition-short-ease: ease-out;

////////////////////
// spacing
////////////////////
$layout-width-column: 40px;
$layout-width-columnspace: 20px;
$layout-width-column-gutter: ($layout-width-columnspace / 2);
$layout-width-padding-side: 10px;

//spacing

$layout-spacing-xl: 30px;
$layout-spacing-lg: 15px;
$layout-spacing-md: 10px;
$layout-spacing-sm: 5px;

//containers + columns

$layout-container-width: 940px;
$layout-container-padding-side: 10px;
$layout-container-padding-left: $layout-width-column + $layout-width-columnspace + $layout-container-padding-side;
$layout-width-page: $layout-container-width + (2 * $layout-container-padding-side);

@function widthFromColumns ($cols) {
  @return ($cols * $layout-width-column) + (($cols - 1) * $layout-width-columnspace);
}

//layout

$layout-height-header: 50px;
$layout-width-sidepanel: 300px;

//layout - build

$layout-opGroups-width: widthFromColumns(8);
$layout-opSummary-width: widthFromColumns(4);

//need to have extra padding on the side to show verifications, and shrink operations accordingly
$layout-operations-spacing: $layout-spacing-xl;
$layout-operations-spacing-correction: $layout-operations-spacing - $layout-width-columnspace;

$layout-operations-padding-left: $layout-operations-spacing;
$layout-operations-padding-right: $layout-opSummary-width + $layout-width-columnspace;
$layout-operations-width: $layout-opGroups-width + $layout-operations-padding-left + $layout-operations-padding-right;

$layout-opList-width: widthFromColumns(3) - $layout-operations-spacing-correction;


////////////////////
// UI stuff
////////////////////

$box-shadow-black-inner: inset 0 0 20px 0px transparentize($black, 0.25);
$box-shadow-popover: 0 0 10px transparentize($black, 0.8);
$box-shadow-dropdown: 0 0 15px transparentize($black, 0.8);
$box-shadow-accent: 0 0 10px transparentize($black, 0.8);


//interactions
$drop-hover-border-width: 2px;
$drop-hover-border: $drop-hover-border-width solid $primary;
$drop-hover-border-phantom: $drop-hover-border-width solid transparent;

//////////////////////////
//////////////////////////
// Component specific variables should just go in the component, but where relevant put here
// namespace by component, not type


//protocol page

$oplist-padding-left: 10px;


//results page




//header
$header-bg: $bg-white-semitransparent;
$header-nav-font-size: 11px;

//footer
$footer-bg: transparent;
$footer-color: $grey;
$footer-font-size: 14px;

//content-menu
$content-menu-bg: transparentize($bg-dark, 0.1);

//steps (operations + setup)

$step-background-active: $bg-white;
$step-background-inactive : $bg-white-semitransparent;
$step-header-space: 5px;

//modal

$modal-bg: $bg-dark;
$modal-z: $z-overlay;

//gallery
$gallery-bg: $light-grey;
