
//probably use with form-control
.well-plate {
  display: table;
  height: auto;

  .well-plate-col {
    display: table-cell;
  }

  .well-plate-well {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid $gray;
    text-align: center;

    &:hover,
    &.hovered {
      background: $brand-info;
    }

    &.selected {
      background: $brand-primary;
    }
  }
}
