$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

[contenteditable] {
  cursor: pointer;
}

.btn-middle {
  margin-top: -6px;
}

pre {
  margin: 0;
  border: 0;
}

*:focus {
  outline: none;
}

tx-instruction {
  display: block; //for ui-sortable
}
