$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'mixins';

// all the misc stuff

[contenteditable] {
  cursor: pointer;
}

.btn-middle {
  margin-top: -6px;
}

pre {
  margin: 0;
  border: 0;
}

*:focus {
  outline: none;
}

.drag-handle {
  cursor: all-scroll;
}

.protocol-response {
  position: relative;
}

[ng-click] {
  cursor: pointer;
}

tx-refs .panel {
  margin-bottom: 0;
}

//hack for position fixed / absolute instruciton panel in tx-protocol
@media (min-width: $screen-md-min) {
  .instruction-panel {
    max-width: 243px;
  }
}
@media (min-width: $screen-lg-min) {
  .instruction-panel {
    max-width: 293px;
  }
}

//imports

@import 'corner';
@import 'instruction';
@import 'wellplate';
