$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'mixins';

// all the misc stuff

#logo {
  width: 300px;
  height: 50px;
  margin: 15px 0;
  display: block;
  background-image: url('../images/logo.png');
  background-size: cover;
}

[contenteditable] {
  cursor: pointer;
}

.btn-middle {
  margin-top: -6px;
}

pre {
  margin: 0;
  border: 0;
}

*:focus {
  outline: none;
}

.drag-handle {
  cursor: all-scroll;
}

.protocol-response {
  position: relative;
}

[ng-click] {
  cursor: pointer;
}

tx-refs .panel {
  margin-bottom: 0;
}

tx-boolean btn-checkbox {
  width: 172px;
}

.dragover,
.dragover pre {
  background: $panel-success-heading-bg;
}

.dragover-err,
.dragover-err pre {
  background: $panel-danger-heading-bg;
}

//imports

@import 'corner';
@import 'instruction';
@import 'wellplate';
@import 'instructionPanel';
