node_modules/
dist
.tmp
.sass-cache
bower_components/
.idea/
.DS_Store
.vagrant
QA/integration/nosetests.xml
app/scripts/omniprotocol.js
app/scripts/omniprotocol/index.js
app/scripts/conversion/autoprotocol/index.js