<tx-plate container="summaryCtrl.getContainerTypeFromWellField('objects')"
          no-brush="true"
          no-select="true"
          group-data="{name : '', wells : summaryCtrl.pluckWellsFromContainer('objects') , color: summaryCtrl.getContainerColorFromWellField('objects')}">
</tx-plate>

<div ng-init="resources = summaryCtrl.getResourcesForOp()">
  <div ng-repeat="resource in resources">
    <img ng-init="!resource.resourceUrl && summaryCtrl.getResource(resource)"
         ng-src="{{resource.resourceUrl}}">

    <p ng-hide="resource.resourceUrl">loading...</p>
  </div>
</div>