<div class="plate-wrap-image_plate">
  <tx-plate container="summaryCtrl.getContainerTypeFromFieldName('object')"
            no-brush="true"
            no-select="true"
            group-data="{name : '', wells : 'all', color: summaryCtrl.getContainerColorFromFieldName('object')}">
  </tx-plate>
</div>

<div ng-init="resources = summaryCtrl.getResourcesForOp()">
  <div ng-repeat="resource in resources">
    <img ng-init="!resource.resourceUrl && summaryCtrl.getResource(resource)"
         ng-src="{{resource.resourceUrl}}">

    <p ng-hide="resource.resourceUrl">loading...</p>
  </div>
</div>