<div class="clearfix">
  <p ng-style="{color: summaryCtrl.getContainerColorFromFieldName('from')}"
     ng-bind="summaryCtrl.getContainerNameFromFieldName('from')"></p>

  <div ng-class="'plate-wrap-' + summaryCtrl.operation.operation">
    <tx-plate container="summaryCtrl.getContainerTypeFromFieldName('object')"
              no-brush="true"
              no-select="true"
              style="width: 100%"
              group-data="{name : '', wells : 'all', color: summaryCtrl.getContainerColorFromFieldName('object')}"></tx-plate>
  </div>
</div>