<div ng-controller="resultsPipetteCtrl as pipeCtrl">
  <p ng-bind="pipeCtrl.getContainerFromWellField('from')"></p>
  <div class="clearfix">
    <tx-plate container="pipeCtrl.getContainerTypeFromWellField('from')"
              no-brush="true"
              no-select="true"
              group-data="{name : 'from', wells : pipeCtrl.pluckWellsFromContainer('from'), color: pipeCtrl.getContainerColorFromWellField('from')}"
              style="display: inline-block; width: 49%">
    </tx-plate>

    <tx-plate container="pipeCtrl.getContainerTypeFromWellField('to')"
              no-brush="true"
              no-select="true"
              group-data="{name : 'to', wells : pipeCtrl.pluckWellsFromContainer('to') , color: pipeCtrl.getContainerColorFromWellField('to')}"
              style="display: inline-block; width: 49%">
    </tx-plate>
  </div>
  <p class="pull-right" ng-bind="pipeCtrl.getContainerFromWellField('to')"></p>
</div>