<div ng-controller="resultsPipetteCtrl as pipeCtrl">
  <tx-plate container="pipeCtrl.getContainerFromWellField('from')"
            no-brush="true"
            no-select="true"
            group-data="{name : 'testing', wells : pipeCtrl.pluckWellsFromContainer('from'), color: '#dd9955'}"
            style="display: inline-block; width: 49%">
  </tx-plate>

  <tx-plate container="pipeCtrl.getContainerFromWellField('to')"
            no-brush="true"
            no-select="true"
            group-data="{name : 'another', wells : pipeCtrl.pluckWellsFromContainer('to') , color: '#55dd99'}"
            style="display: inline-block; width: 49%">
  </tx-plate>
</div>