<div ng-form="absoranceForm">

  <tx-inputwrap label="dataref">
    <input type="text"
           class="form-control"
           ng-model="instruction.dataref">
  </tx-inputwrap>

  <tx-container ng-model="instruction.object"
                refs="protocol.refs"></tx-container>

  <tx-well ng-model="instruction.wells"
           container="instruction.object"
           label="wells"
           multiple="true"></tx-well>

  <tx-measure dimension-type="length"
              label="wavelength"
              ng-model="instruction.wavelength"
              min="300"
              max="1000"></tx-measure>

  <tx-inputwrap label="num_flashes">
    <input type="number"
           class="form-control"
           ng-model="instruction.num_flashes">
  </tx-inputwrap>

</div>
