<div ng-form="pipetteForm"
     ng-controller="PipetteCtrl as pipeCtrl">
  <div class="panel panel-default"
       ng-repeat="groupDeclaration in instruction.groups track by $index"
       ng-init="groupKey = pipeCtrl.groupKey(groupDeclaration);
                groupObj = instruction.groups[$index];
                group = groupObj[groupKey]">
    <div class="panel-heading"
         ng-bind="pipeCtrl.groupKey(groupDeclaration)"></div>
    <div class="panel-body"
         ng-include="pipeCtrl.groupUrl(groupDeclaration)"></div>
  </div>
</div>
