<div ng-form="spinForm">
  <tx-container ng-model="instruction.object"
                ng-required="true"
                refs="protocol.refs"></tx-container>

  <tx-measure dimension-type="acceleration"
              ng-model="instruction.acceleration"
              required
              min="0"
              max="4000"
              label="acceleration"></tx-measure>

  <tx-measure dimension-type="duration"
              ng-model="instruction.duration"
              required
              label="duration"></tx-measure>

</div>
