<div ng-form="thermocycleForm">

  <!-- probably want better check - i.e. check for 'read' in any step -->
  <tx-dataref ng-if="instruction.dyes"
              ng-model="instruction.dataref"></tx-dataref>

  <tx-container refs="protocol.refs"
                ng-model="instruction.object"></tx-container>

  <tx-measure dimension-type="volume"
              label="volume"
              ng-model="instruction.volume"></tx-measure>

  <div ng-repeat="group in instruction.groups"
       class="panel panel-default">

    <tx-inputwrap label="cycles">
      <input type="number"
             class="form-control"
             ng-model="group.cycles">
    </tx-inputwrap>

    <div ng-repeat="step in group.steps"
         class="panel panel-default"
         ng-init="showTemperature = !!step.temperature">
      <tx-measure label="duration"
                  dimension-type="duration"
                  ng-model="step.duration"></tx-measure>

      <!--todo - enable switching between these + cleanup -->
      <div ng-if="showTemperature">
        <tx-measure label="temperature"
                    dimension-type="temperature"
                    ng-model="step.temperature"></tx-measure>
      </div>
      <div ng-if="!showTemperature">
        <tx-measure label="gradient:top"
                    dimension-type="temperature"
                    ng-model="step.gradient.top"></tx-measure>
        <tx-measure label="gradient:bottom"
                    dimension-type="temperature"
                    ng-model="step.gradient.bottom"></tx-measure>
      </div>


      <tx-boolean ng-model="step.read" label="read"></tx-boolean>
    </div>
    <!--todo - ability to add and delete steps -->
  </div>

  <div ng-if="instruction.dyes">
    <div ng-repeat="(dye, wells) in instruction.dyes">
      <tx-well label="{{dye}}"
               ng-model="instruction.dyes[dye]"
               multiple="true"
    </div>
    <!--todo - ability to add and delete dyes, write filter so don't pick same channel -->
  </div>

  <!-- todo - enable toggling + cleanup -->
  <div ng-if="instruction.melting">
    <tx-measure label="melt:start"
                dimension-type="temperature"
                ng-model="instruction.melting.start"></tx-measure>
    <tx-measure label="melt:end"
                dimension-type="temperature"
                ng-model="instruction.melting.end"></tx-measure>
    <tx-measure label="melt:increment"
                dimension-type="temperature"
                ng-model="instruction.melting.increment"></tx-measure>
    <tx-measure label="melt:rate"
                dimension-type="duration"
                ng-model="instruction.melting.rate"></tx-measure>
  </div>

</div>
