tx-instruction {
  display: block; //for ui-sortable

  .input-group .input-group-addon:first-child,
  .input-group-addon:first-child {
    width: 130px;
  }
}

.protocol-instruction {

  &.ng-enter,
  &.ng-leave {
    transition: all ease-in 0.25s;
  }

  &.ng-leave.ng-leave-active,
  &.ng-enter {
    opacity:0;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity:1;
    transform: translateX(0);
  }

  &.ng-enter {
    transform: translateX(-20%);
  }

  &.ng-leave.ng-leave-active {
    transform: translateX(20%);
  }
}
