<div ng-controller="fieldAliquotCtrl as aliquotCtrl"
     ng-init="aliquotCtrl.init()">
  <tx-container-select container-type="aliquotCtrl.containerType"
                       ng-model="aliquotCtrl.containerName">
  </tx-container-select>

  <div ng-show="aliquotCtrl.containerType"
       style="display: inline-block;">
    <a class="field-details-button"
       ng-click="showingPlates = !showingPlates"
       ng-init="showingPlates=false;">
      {{showingPlates ? 'hide' : 'edit...'}}
    </a>
  </div>
  <div ng-if="showingPlates">
    <tx-plate ng-show="aliquotCtrl.containerType"
              container="aliquotCtrl.containerType"
              group-data="{'name' : aliquotCtrl.containerName, wells: 'all', color: aliquotCtrl.containerColor}"
              no-brush="!aliquotCtrl.aliquotMultiple"
              select-persist="aliquotCtrl.aliquotMultiple"
              on-select="aliquotCtrl.handleAliquotSelection($wells, $transpose)"
              show-transpose="true"
              transpose-input="aliquotCtrl.field.transpose"
              wells-input="aliquotCtrl.wellsIn">
    </tx-plate>
  </div>
</div>
