<input class="input-styled"
       ng-model="fieldCtrl.model.value"
       ng-required="fieldCtrl.model.unit"
       type="number" auto-grow="10"
       placeholder="value">
<div class="button parent-hover-trigger"
     dropdown>
    <a class="button-label"
       dropdown-toggle>
      {{fieldCtrl.model.unit ? fieldCtrl.model.unit : (fieldCtrl.field.default.unit ? fieldCtrl.field.default.unit : unitOptions[0])}}
      <span class="glyphicon glyphicon-menu-down visible-parent-hover"></span>
    </a>
    <ul class="dropdown-menu">
      <li ng-repeat="unit in unitOptions"
          ng-click="fieldCtrl.model.unit = unit">
        <a ng-bind="unit"></a>
      </li>
    </ul>
</div>
