<a class="field-action-text"
   ng-click="fieldCtrl.detailsVisible = !fieldCtrl.detailsVisible">
  edit...
</a>


<tx-modal ng-show="fieldCtrl.detailsVisible"
          title="{{(fieldCtrl.field.readable || fieldCtrl.field.name) | fieldReadable}}">
  <div class="column-wrap">
    <div class="column-10 div-centered">
      <table class="simple-table">
        <tr>
          <td class="operation-label">volume</td>
          <td>
            <tx-protocol-field ng-model="fieldCtrl.model.volume"
                               hide-title="true"
                               field="{type: 'volume'}">
            </tx-protocol-field>
          </td>
        </tr>

        <tr>
          <td class="operation-label">speed</td>
          <td>
            <tx-protocol-field ng-model="fieldCtrl.model.speed"
                               hide-title="true"
                               field="{type: 'flowrate'}">
            </tx-protocol-field>
          </td>
        </tr>

        <tr>
          <td class="operation-label">repetitions</td>
          <td>
            <tx-protocol-field ng-model="fieldCtrl.model.repetitions"
                               hide-title="true"
                               field="{type: 'integer'}">
            </tx-protocol-field>
          </td>
        </tr>
      </table>
    </div>
  </div>
</tx-modal>