<a class="field-action-button"
   ng-click="fieldCtrl.detailsVisible = !fieldCtrl.detailsVisible">
  edit...
</a>


<tx-modal ng-show="fieldCtrl.detailsVisible"
          title="{{fieldCtrl.field.name}}">
  <table>
    <tr>
      <td class="operation-label">volume</td>
      <td>
        <tx-protocol-field ng-model="fieldCtrl.model.volume"
                           field="{type: 'volume'}">
        </tx-protocol-field>
      </td>
    </tr>

    <tr>
      <td class="operation-label">speed</td>
      <td>
        <tx-protocol-field ng-model="fieldCtrl.model.speed"
                           field="{type: 'flowrate'}">
        </tx-protocol-field>
      </td>
    </tr>

    <tr>
      <td class="operation-label">repetitions</td>
      <td>
        <input type="number"
               ng-model="fieldCtrl.model.repetitions"
               ng-required="true">
      </td>
    </tr>
  </table>
</tx-modal>