<a class="field-details-button"
   ng-click="fieldCtrl.detailsVisible = !fieldCtrl.detailsVisible">
  details...
</a>

<tx-modal ng-show="fieldCtrl.detailsVisible"
          title="Thermocycle Dyes">
  <div ng-controller="ThermocycleDyesCtrl as dyeCtrl"
          ng-init="dyeCtrl.init()">

    <div class="col-md-4">
      <div ng-repeat="(channel, dyes) in dyeCtrl.dyeOptions"
           ng-init="fieldCtrl.model[$index].color = dyeCtrl.colors[channel]">
        <span ng-style="{'color' : fieldCtrl.model[$index].color}">&block;</span>
        <span ng-bind="channel"></span>
        <select ng-model="fieldCtrl.model[$index].dye"
                ng-change="dyeCtrl.activateChannelIndex($index)"
                ng-options="d as d for d in dyes"></select>
      </div>
    </div>

    <div class="col-md-8">
      <tx-plate container="'96-flat'"
                group-data="fieldCtrl.model"
                select-persist="true"
                wells-input="dyeCtrl.dyeWells"
                on-select="dyeCtrl.handleWellSelection($wells)"></tx-plate>

    </div>

    <pre ng-bind="fieldCtrl.model | json"></pre>
  </div>
</tx-modal>