<div ng-controller="thermocycleGroupsCtrl as thermoCtrl"
     style="width: 100%;"
     ng-init="thermoCtrl.onInit()">

  <div ng-repeat="group in fieldCtrl.model"
       style="position: relative;">
    <span class="close"
          style="position: absolute; z-index: 2; top: 0; right: 25px;"
          ng-click="thermoCtrl.deleteGroup(group)">&times;</span>
    <tx-protocol-field field="group"
                       hide-title="true"
                       ng-model="group.value">
    </tx-protocol-field>
  </div>

  <div>
    <a class="field-action-text"
       ng-click="thermoCtrl.addGroup()">
      add group...
    </a>
  </div>
</div>
