<div class="container">
<div class="row">
<div class="col-md-3">
  <tx-projectlist ng-model="orderCtrl.project"></tx-projectlist>
</div>

<div class="col-md-9">
  <div class="pagination pagination-sm">
    <li ng-repeat="t in orderCtrl.orderingOptions"
        ng-class="{'active' : t == orderCtrl.orderType}">
      <a ng-bind="t"
         ng-click="orderCtrl.orderType = t"></a>
    </li>
  </div>

  <form class="form-inline" style="margin-bottom: 20px;">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Order Title</span>
        <input type="text"
               class="form-control"
               ng-model="orderCtrl.orderTitle">
      </div>
    </div>

    <div class="btn-group">
      <button class="btn btn-primary"
              ng-disabled="!orderCtrl.project.url || !orderCtrl.orderTitle"
              ng-click="orderCtrl.priceOrder()">Price</button>
  </div>
  </form>

  <tx-requestresponse config="priceResponse.config"
                      response="priceResponse.response"></tx-requestresponse>

  <tx-order ng-model="orderCtrl.order"
            order-type="orderCtrl.orderType"></tx-order>
</div>
</div>
</div>
