<div ng-if="isDimensional"
     class="form-inline"
     ng-class="{'has-error' : !isValid && !unrequired}">
  <div class="input-group">
    <span ng-if="label"
          ng-bind="label"
          class="input-group-addon"></span>
    <input class="form-control"
           type="number"
           ng-model="dim.value"
           ng-required="!unrequired">
  </div>
  <select class="form-control"
          ng-disabled="options.length == 1"
          ng-options="opt for opt in options"
          ng-model="dim.unit"></select>
</div>
<div ng-if="!isDimensional"
     class="input-group"
     ng-class="{'has-error' : !isValid}">
  <span ng-if="label"
        ng-bind="label"
        class="input-group-addon"></span>
  <input ng-model="dim.internal"
         class="form-control">
</div>
