<div class="panel panel-default">
  <div class="panel-heading">
    Projects
    <button class="btn btn-default btn-sm btn-middle pull-right"
            ng-class="{'btn-primary' : !!showNewProject}"
            ng-click="showNewProject = !showNewProject">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
  <div class="list-group">
    <div class="list-group-item"
         ng-show="showNewProject">
      <div class="input-group">
        <input type="text"
               class="form-control"
               ng-model="newProjectName">
        <div class="input-group-btn">
          <button class="btn btn-default"
                  ng-disabled="!newProjectName"
                  ng-click="addProject(newProjectName);
                            newProjectName = '';
                            showNewProject = false;">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>
    <a class="list-group-item"
       ng-repeat="p in projects"
       ng-click="selectProject(p)"
       ng-class="{'active' : p.url == selectedProject.url}">
      <btn-delete class="pull-right btn-middle"
                  on-delete="deleteProject(p.url)"
                  delete-text="Delete this Project"></btn-delete>
      {{p.name}}
    </a>
  </div>
</div>
