<div ng-show="config.initiated"
     class="alert protocol-response"
     ng-class="{'alert-success' : !config.error,
                'alert-warning' : config.error}">
  <div class="corner-group">
    <a ng-if="response.id"
       ng-href="{{transcripticLink()}}">
      Transcriptic <span class="glyphicon glyphicon-share-alt"></span>
    </a>
    <a tooltip="Toggle Visible"
       tooltip-append-to-body="true"
       ng-click="hideResponse = !hideResponse">
      <span class="glyphicon"
            ng-class="{'glyphicon-eye-open' : !hideResponse,
                       'glyphicon-eye-close' : hideResponse}"></span>
    </a>
    <span class="disabled" ng-bind="config.type"></span>
  </div>

  <div ng-hide="hideResponse">
    <div ng-show="config.processing">
      {{config.textProcessing}}
    </div>
    <div ng-hide="config.processing">
      <div ng-hide="config.error">
        <p><strong ng-bind="config.textSuccess"></strong></p>
      </div>
      <div ng-show="config.error">
        <p>{{config.textError}}</p>
        <pre ng-bind="response | json"></pre>
      </div>
    </div>
  </div>
</div>
