<tx-inputwrap label="name">
  <input type="text"
         class="form-control"
         required
         ng-model="order.name">
</tx-inputwrap>

<tx-inputwrap label="sequence">
  <input type="text"
         class="form-control"
         required
         ng-model="order.data.sequence">
</tx-inputwrap>

<tx-inputwrap label="purify">
  <select class="form-control"
          ng-options="o as o for o in purityOptions"
          required
          ng-model="order.data.purity"></select>
</tx-inputwrap>

<tx-inputwrap label="scale">
  <select class="form-control"
          ng-options="o as o for o in scaleOptions"
          required
          ng-model="order.data.scale"></select>
</tx-inputwrap>
