<div ng-form="pipetteForm"
     ng-controller="PipetteCtrl as pipeCtrl">

  <div class="pipette-instructions"
       ui-sortable="pipeCtrl.sortableOptions"
       ng-model="instruction.groups">
    <div class="panel panel-default protocol-instruction"
         ng-repeat="groupDeclaration in instruction.groups"
         ng-init="groupKey = pipeCtrl.groupKey(groupDeclaration);
                  groupObj = instruction.groups[$index];
                  group = groupObj[groupKey]">
      <div class="panel-heading drag-handle">
        <div class="btn-group btn-middle pull-right">
          <button class="btn btn-default btn-sm"
                  tooltip="Delete Instruction"
                  tooltip-append-to-body="true"
                  ng-click="pipeCtrl.removePI($index)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
          <button class="btn btn-default btn-sm"
                  tooltip="Duplicate Instruction"
                  tooltip-append-to-body="true"
                  ng-click="pipeCtrl.duplicatePI($index)">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
        {{pipeCtrl.groupKey(groupDeclaration) | capfirst}}
      </div>
      <div class="panel-body"
           ng-include="pipeCtrl.groupUrl(groupDeclaration)"></div>
    </div>
  </div>


  <div class="panel panel-default"
       style="margin-bottom: 0;"
       ng-init="showAdditions = false"
       ng-mouseenter="showAdditions = true"
       ng-mouseleave="showAdditions = false">
    <div class="panel-heading">Add Pipette Step</div>
    <div class="list-group"
         ng-show="showAdditions">
      <a class="list-group-item"
         ng-repeat="pi in pipeCtrl.pipetteInstructions"
         ng-bind="pi"
         ng-click="pipeCtrl.addPipetteInstruction(pi)"></a>
    </div>
  </div>
</div>
