<div ng-form="consolidateForm">
  <tx-well label="to"
           ng-model="group.to"
           specify-container="true"
           refs="protcol.refs"></tx-well>

  <tx-well label="from"
           ng-model="group.from"
           multiple="true"
           specify-container="true"
           multiple-zip="{volume: fromVolume, aspirate_speed: fromAspirate_speed}"
           refs="protocol.refs"></tx-well>

  <tx-measure dimension-type="volume"
              ng-model="fromVolume"></tx-measure>

  <tx-measure dimension-type="flowrate"
              ng-model="fromAspirate_speed"></tx-measure>

  <!-- todo - zip up volume and aspirate speed into tx-wells... as attr?-->

  <tx-mixwrap ng-model="group.mix_before"></tx-mixwrap>

</div>
