<div ng-form="consolidateForm"
     ng-init="params = {volume: '50:microliter',
                        aspirate_speed: '100:microliter/second'}">

  <tx-well label="to"
           ng-model="group.to"
           specify-container="true"
           refs="protocol.refs"></tx-well>

  <tx-well label="from"
           ng-model="group.from"
           multiple="true"
           specify-container="true"
           multiple-zip="params"
           refs="protocol.refs"></tx-well>

  <tx-measure dimension-type="volume"
              label="volume"
              ng-model="params.volume"></tx-measure>

  <tx-measure dimension-type="flowrate"
              label="aspirate_speed"
              ng-model="params.aspirate_speed"></tx-measure>

  <tx-measure dimension-type="flowrate"
              label="dispense_speed"
              ng-model="group.dispense_speed"></tx-measure>

</div>
