<div ng-form="mixForm"
     ng-init="params = {volume: '50:microliter',
                        speed: '100:microliter/second',
                        repetitions: 10}">

  <tx-well ng-model="instruction.groups[$index][pipeCtrl.groupKey(groupDeclaration)]"
           multiple="true"
           specify-container="true"
           multiple-zip="params"
           refs="protocol.refs"></tx-well>

  <tx-measure dimension-type="volume"
              label="volume"
              ng-model="params.volume"></tx-measure>

  <tx-measure dimension-type="flowrate"
              label="speed"
              not-required
              ng-model="params.speed"></tx-measure>

  <tx-inputwrap label="reps">
    <input type="number"
           class="form-control"
           ng-model="params.repetitions">
  </tx-inputwrap>
</div>
