<div ng-form="mixForm"
     ng-init="params = {volume: '50:microliter',
                        speed: '100:microliter/second',
                        repetitions: 10}">

  <tx-well label="from"
           ng-model="groupObj[groupKey]"
           multiple="true"
           specify-container="true"
           multiple-zip="params"
           refs="protocol.refs"></tx-well>

  <tx-measure dimension-type="volume"
              label="volume"
              ng-model="params.volume"></tx-measure>

  <tx-measure dimension-type="flowrate"
              label="speed"
              ng-model="params.speed"></tx-measure>

  <tx-inputwrap label="reps">
    <input type="number"
           ng-model="params.repetitions">
  </tx-inputwrap>
</div>
