<div ng-show="restyleCtrl.currentProtocol.metadata"
     class="flex-grower flex-vertical">

  <div>
    <span ng-bind="restyleCtrl.currentProtocol.metadata.name"></span>

    <div class="glyphicon-ellipse" ng-click='toggleModal()'>
      <span class="glyphicon glyphicon-option-horizontal"></span>
    </div>
    <tx-modal ng-show='modalShown'>
      <table>
        <thead>
        <tr>
          <td colspan="2">Edit protocol metadata</td>
        </tr>
        </thead>
        <tr>
          <td>Name</td>
          <td>
            <input type="text"
                   class="input-unstyled protocol-metadata-field"
                   ng-model="restyleCtrl.currentProtocol.metadata.name">
          </td>
        </tr>
        <tr>
          <td>Description</td>
          <td>
            <input type="text"
                   class="input-unstyled protocol-metadata-field"
                   ng-model="restyleCtrl.currentProtocol.metadata.description">
          </td>
        </tr>
        <tr>
          <td>Tags</td>
          <td>
            <input type="text"
                   class="input-unstyled protocol-metadata-field"
                   ng-list
                   ng-model="restyleCtrl.currentProtocol.metadata.tags">
          </td>
        </tr>
      </table>
    </tx-modal>
  </div>

  <div class="flex-horizontal flex-grower">

    <div class="sidepanel flex-vertical"
         resizeable
         resize-property="width"
         resize-position="right"
         resize-direction="horizontal">
      <tx-operation-list class="flex-grower scroll-y"></tx-operation-list>
    </div>

    <div class="maincolumn flex-vertical flex-grower maxout-scroll-vertical">

      <tx-protocol-actions protocol="restyleCtrl.currentProtocol"
                           protocol-form="ProtocolForm"></tx-protocol-actions>
      <tx-protocol-editor class="flex-grower flex-vertical"
                          ng-form="ProtocolForm"
                          protocol="restyleCtrl.currentProtocol">
      </tx-protocol-editor>
    </div>
  </div>

</div>

<div ng-if="!restyleCtrl.currentProtocol.metadata">
  Choose a protocol from the gallery, or drag-n-drop one onto the setup. Or <a ng-click="restyleCtrl.loadDemo()">load a
  demo</a>
</div>
