<div class="welcome-overlay"
     ng-click="homeCtrl.hideOverlay()">

  <div class="welcome-call">
    <h3 class="thin">Welcome! Let's get started.</h3>
    <a class="btn action-button"
       ng-click="homeCtrl.hideOverlay()">Thanks for the info. I'm ready to start.</a>
  </div>

  <div class="help-tip help-tip-hamburger">
    <p class="help-tip-text">Open a sample protocol from the Content menu to explore a complete protocol.</p>
  </div>

  <div class="help-tip help-tip-right help-tip-results">
    <p class="help-tip-text">After you run a protocol, explore and download the results here. You can open a sample Run from the Content menu.</p>
  </div>

  <div class="help-tip help-tip-right help-tip-user">
    <p class="help-tip-text">Sign in to save your own protocols. Select “Help” or “Feedback” from the this menu to learn more.</p>
  </div>

</div>