<div class="welcome-overlay">

  <div class="welcome-call">
    <h3 class="thin">Welcome! Let's get started.</h3>
    <a class="btn action-button"
       ng-click="homeCtrl.hideOverlay()">Thanks for the info. I'm ready to start.</a>
  </div>

  <div class="help-tip help-tip-hamburger">
    <p class="help-tip-text">Open one of our sample protocols from the content menu to explore how its put together.</p>
  </div>

  <div class="help-tip help-tip-right help-tip-user">
    <p class="help-tip-text">Select "Help" or "Feedback" from the User menu to learn more.</p>
  </div>

</div>