<div class="build-wrap flex-grower flex-vertical">

  <div class="protocol-header">
    <div class="protocol-info">
      <span ng-bind="restyleCtrl.currentProtocol.metadata.name || 'Untitled Protocol'"></span>
      <div class="glyphicon-ellipse" ng-click='toggleModal()'>
        <span class="glyphicon glyphicon-option-horizontal"></span>
      </div>
    </div>
    <tx-protocol-actions protocol="restyleCtrl.currentProtocol"
                         class="pull-right"
                         protocol-form="ProtocolForm"></tx-protocol-actions>
    <tx-modal ng-show='modalShown'
            title="Protocol Metadata">
      <div class="column-wrap">
        <table class="column-12 div-centered metadata-table">
          <tr>
            <td class="metadata-label">Name</td>
            <td class="metadata-field">
              <input type="text"
                     class="input-unstyled"
                     placeholder="name of protocol"
                     ng-model="restyleCtrl.currentProtocol.metadata.name">
            </td>
            <td class="metadata-spacer"></td>
          </tr>
          <tr>
            <td class="metadata-label">Description</td>
            <td class="metadata-field">
              <input type="text"
                     class="input-unstyled"
                     placeholder="enter notes for this protocol"
                     ng-model="restyleCtrl.currentProtocol.metadata.description">
            </td>
            <td class="metadata-spacer"></td>
          </tr>
          <tr>
            <td class="metadata-label">Tags</td>
            <td class="metadata-field">
              <input type="text"
                     class="input-unstyled"
                     ng-list
                     placeholder="enter tags associated with this protocol"
                     ng-model="restyleCtrl.currentProtocol.metadata.tags">
            </td>
            <td class="metadata-spacer"></td>
          </tr>
        </table>
      </div>
    </tx-modal>
  </div>

  <div class="flex-horizontal flex-grower">

    <div class="sidepanel operation-list flex-vertical">
      <tx-operation-list class="flex-grower scroll-y" simple-sticky="70"></tx-operation-list>
    </div>

    <div class="maincolumn flex-vertical protocol-steps">

      <tx-protocol-editor class="flex-grower flex-vertical"
                          ng-form="ProtocolForm"
                          protocol="restyleCtrl.currentProtocol">
      </tx-protocol-editor>
    </div>
  </div>

</div>