<div>
  <div class="form-inline">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <button type="reset" class="input-group-addon">X</button>
    </div>
  </div>
  <div>
    <div class="btn-group">
      <a class="btn btn-default"
         ng-if="DashboardCtrl.firebaseProtocols"
         ng-repeat="p in DashboardCtrl.firebaseProtocols"
         ng-class="{'active' : p.$id == DashboardCtrl.protocol.$id}"
         ng-bind="p.meta.name || p.$id"
         ng-click="DashboardCtrl.retrieveFirebase(p)"></a>
    </div>
    <div class="btn-group">
      <a class="btn btn-default"
         ng-click="DashboardCtrl.newProtocol()">New Protocol</a>
    </div>
  </div>
</div>
