<form class="form-inline">
  <select class="form-control"
          ng-options="proj.url as (proj.name + '  [' + proj.run_count + ' runs]') for proj in dataCtrl.projects"
          ng-model="current.project"></select>

  <select class="form-control"
          ng-options="run.id as run.title for run in dataCtrl.runs"
          ng-disabled="!dataCtrl.runs.length"
          ng-model="current.run"></select>

  <button class="btn btn-default pull-right"
          ng-click="dataCtrl.downloadDemo('growth-0216')">Growth 02/16</button>
  <button class="btn btn-default pull-right"
          ng-click="dataCtrl.downloadDemo('uv_evolution')">UV Evolution</button>
</form>


<div ng-if="dataCtrl.currentData">

  <div class="btn-group"
       ng-if="dataCtrl.containers.length > 1">
    <button class="btn btn-default"
            ng-class="{'btn-info' : c == dataCtrl.currentContainerReference}"
            ng-repeat="c in dataCtrl.containers"
            ng-click="dataCtrl.setCurrentDataContainer(c)">{{c}}</button>
  </div>

  <input ng-model="timepointSlider"
         min="0"
         max="{{numberTimepoints - 1}}"
         ng-change="dataCtrl.selectTimepoint(timepointSlider)"
         type="range"/>

  <tx-plate container="dataCtrl.currentContainer"
            plate-data="dataCtrl.currentData[currentTimepoint]"
            on-hover="dataCtrl.hoverPlateWells($wells)"
            on-select="dataCtrl.selectPlateWells($wells)"></tx-plate>

  <tx-timepointgraph data="dataCtrl.currentData"
                     series-selected="dataCtrl.currentWells"
                     style="width: 900px; height: 600px; display: block;"></tx-timepointgraph>

</div>
