<div class="row">
  <div class="col-md-3">
    <tx-projectlist ng-model="mainCtrl.project"></tx-projectlist>
  </div>

  <div class="col-md-9">
    <div class="pagination pagination-sm">
      <li ng-repeat="p in mainCtrl.protocols"
          ng-class="{'active' : p == mainCtrl.selectedProtocol}">
        <a ng-bind="p"
           ng-click="mainCtrl.retrieve(p)"></a>
      </li>
    </div>

    <form class="form-inline" style="margin-bottom: 20px;">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Run Title</span>
          <input type="text"
                 class="form-control"
                 ng-model="mainCtrl.runTitle">
        </div>
      </div>

      <div class="btn-group"
           tooltip="{{mainCtrl.canSubmitRun() ? '' : 'select a project + run title'}}"
           tooltip-append-to-body="true">
        <button class="btn btn-info"
                ng-disabled="!mainCtrl.canSubmitRun()"
                ng-click="mainCtrl.analyze()">Verify + Price</button>
        <button class="btn btn-info"
                ng-disabled="!mainCtrl.canSubmitRun()"
                ng-click="mainCtrl.submit()">Submit</button>
      </div>
    </form>

    <tx-requestresponse config="analysisResponse.config"
                        response="analysisResponse.response"></tx-requestresponse>

    <tx-requestresponse config="runResponse.config"
                        response="runResponse.response"></tx-requestresponse>

  </div>
</div>

<tx-protocol protocol="mainCtrl.exampleProtocol"></tx-protocol>
