<div class="col-md-3">
  <tx-projectlist ng-model="orderCtrl.project"></tx-projectlist>
</div>

<div class="col-md-9">
  <div class="pagination pagination-sm">
    <li ng-repeat="t in orderCtrl.orderingOptions"
        ng-class="{'active' : t == orderCtrl.orderType}">
      <a ng-bind="t"
         ng-click="orderCtrl.orderType = t"></a>
    </li>
  </div>

  <form class="form-inline" style="margin-bottom: 20px;">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Order Title</span>
        <input type="text"
               class="form-control"
               ng-model="orderCtrl.orderTitle">
      </div>
    </div>

    <div class="btn-group">
      <button class="btn btn-primary"
              ng-disabled="!orderCtrl.project.url || !orderCtrl.orderTitle"
              ng-click="orderCtrl.priceOrder()">Price</button>
  </div>
  </form>

  <div ng-show="priceResponse.initiated"
       class="alert protocol-response"
       ng-class="{'alert-success' : !priceResponse.error,
                  'alert-danger' : priceResponse.error}">
    <span class="text-corner">Run</span>
    <div ng-show="priceResponse.processing">
      Processing Pricing...
    </div>
    <div ng-hide="priceResponse.processing">
      <div ng-hide="priceResponse.error">
        <p><strong>Pricing Successful</strong></p>
        <p>cost: {{priceResponse.response['has_quote?'] ?
                   priceResponse.response.total_cost :
                   'pending'}}</p>
      </div>
      <div ng-show="priceResponse.error">
        <p>There was an error in getting a price:</p>
        <pre ng-bind="priceResponse.response | json"></pre>
      </div>
    </div>
  </div>

  <tx-order ng-model="orderCtrl.order"
            order-type="orderCtrl.orderType"></tx-order>
</div>
