<div dropdown>
  <a dropdown-toggle
     class="field-action-text"
     ng-class="{'invalid' : !containerSelectCtrl.model}"
     ng-bind="containerSelectCtrl.model || 'select...'"></a>
  <ul class="dropdown-menu">
    <li ng-repeat="c in containerSelectCtrl.localContainers">
      <a ng-class="{'active' : c.name == containerSelectCtrl.model}"
         ng-click="selectLocalContainer(c)">
        <input disabled
               type="color"
               class="color-swatch"
               ng-model="c.value.color">
        <span ng-bind="c.name"></span>
      </a>
    </li>
    <li class="divider"></li>
    <li class="dropdown-header">New...</li>
    <li ng-repeat="c in containerSelectCtrl.containerOptions">
      <a ng-click="createNewContainer(c)"
         ng-bind="c.name"></a>
    </li>
  </ul>
</div>