<div ng-form="InstForm"
     class="panel panel-default"
     ng-class="{'panel-danger' : InstForm.$invalid}"
     ng-init="showJson = false; showStep = true;">
  <div class="panel-heading">
    <div class="btn-group btn-middle pull-right">
      <button class="btn btn-default btn-sm"
              tooltip="Toggle visibility"
              tooltip-append-to-body="true"
              ng-click="showStep = !showStep">
        <span class="glyphicon"
              ng-class="{'glyphicon-eye-open' : showStep, 'glyphicon-eye-close' : !showStep}"></span>
      </button>
      <button class="btn btn-default btn-sm"
              tooltip="Delete"
              tooltip-append-to-body="true"
              ng-click="removeInstruction()">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
      <button class="btn btn-default btn-sm"
              tooltip="Duplicate"
              tooltip-append-to-body="true"
              ng-click="duplicateInstruction()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="btn btn-default btn-sm"
              ng-class="{'btn-primary' : showJson}"
              ng-disabled="InstForm.InstJson.$error.json"
              ng-click="showJson = !showJson">JSON</button>
    </div>
    <h3 class="panel-title"
        ng-bind="instruction.op || 'INVALID'"></h3>
  </div>
  <div class="panel-body"
       ng-show="!showJson && showStep"
       ng-if="instruction.op"
       ng-include="'views/instructions/' + instruction.op + '.html'"></div>

  <pre json-editor
       contenteditable
       json-editor-active="{{showJson}}"
       ng-show="showJson && showStep"
       name="InstJson"
       ng-model="instruction"></pre>

  <p ng-show="InstForm.InstJson.$error.json">JSON is invalid!</p>
</div>
