<div class="protocol-title" ng-class="{'open' : protocolMetadataVisible}">
  <div ng-click="actionCtrl.toggleMetadataVisible($event)">
    <span class="protocol-name"
          ng-bind="actionCtrl.protocol.name"></span>

    <div class="glyphicon-circle">
      <span class="glyphicon glyphicon-option-horizontal"></span>
    </div>
  </div>
  <div class="dropdown-menu">
    <table>
      <tr>
        <td>Name</td>
        <td><input type="text"  class="form-control" ng-model="actionCtrl.protocol.name"></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><textarea rows="2" class="form-control" ng-model="actionCtrl.protocol.metadata.description"></textarea></td>
      </tr>
      <tr>
        <td>Tags</td>
        <td><input type="text" class="form-control" ng-list ng-model="actionCtrl.protocol.metadata.tags"></td>
      </tr>
    </table>
  </div>
</div>
