<div class="protocol-setup-wrap"
     ng-init="isVisible = true"
     ng-class="{'open' : isVisible}">
  <div class="protocol-setup-header"
       ng-click="isVisible = !isVisible">
    setup
  </div>
  <div class="protocol-setup-main"
       ng-show="isVisible">
    <div class="setup-variable"
         ng-repeat="param in setupCtrl.parameters"
         ng-mouseenter="hovering = true"
         ng-mouseleave="hovering = false"
         ng-class="{'highlight' : deleteRow}"
         ng-switch="param.type">
      <div class="verification" ng-if="param.verification">
        <div class="verification-alert">
          <span class="glyphicon glyphicon-alert"></span>
        </div>
        <div class="verification-flag">
          <span ng-bind="param.verification.message"></span>
        </div>
      </div>
      <div class="parameter-type">{{param.type}}</div>
      <input class="input-styled"
             ng-class="{'highlight' : deleteRow}"
             type="text"
             placeholder="name"
             ng-model="param.name"
             tx-change-broadcaster="editor:parameterNameChange">

      <div class="setup-container"
           ng-switch-when="container"
           ng-class="{'highlight' : deleteRow}">
        <input disabled
               type="color"
               ng-required="true"
               ng-model="param.value.color">
        <span ng-bind="param.value.type"></span>
        <a class="field-details-button"
           ng-click="containerDetailsVisible = !containerDetailsVisible">
          details...
        </a>
        <tx-modal ng-if="containerDetailsVisible" ng-show="containerDetailsVisible">
          <div class="row">
            <div class="col-md-5">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-5 control-label">
                    use
                  </label>

                  <div class="col-sm-7" dropdown>
                    <a ng-bind="param.readable || 'new container'" dropdown-toggle></a>
                    <ul class="dropdown-menu">
                      <li>
                        <a ng-click="setupCtrl.selectNewContainer(param)">New Container</a>
                      </li>
                      <li class="divider"></li>
                      <li ng-repeat="c in setupCtrl.remoteContainers">
                        <a ng-click="setupCtrl.selectRemoteContainer(param, c)"
                           ng-bind="c.name || c.id"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label">
                    type
                  </label>

                  <div class="col-sm-7"
                       dropdown
                       is-open="showContainerTypes">
                    <a ng-bind="param.value.type || 'select...'"
                       dropdown-toggle
                       ng-disabled="!param.value.isNew"></a>
                    <ul class="dropdown-menu">
                      <li ng-repeat="(cont, details) in setupCtrl.containerOptions">
                        <a ng-click="param.value.type = cont; notifyContainerChange();"
                           ng-bind="cont"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label">
                    storage
                  </label>

                  <div class="col-sm-7"
                       dropdown>
                    <a ng-bind="((param.value.storage === false) ? 'discard' : param.value.storage) || 'select...'"
                       dropdown-toggle></a>
                    <ul class="dropdown-menu">
                      <li>
                        <a ng-click="param.value.storage = false">discard</a>
                      </li>
                      <li class="divider"></li>
                      <li ng-repeat="opt in setupCtrl.storageOptions">
                        <a ng-click="param.value.storage = opt"
                           ng-bind="opt"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label">
                    parameter name
                  </label>

                  <div class="col-sm-7">
                    <input class="input-unstyled"
                           placeholder="container name"
                           ng-model="param.name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label">
                    color
                  </label>

                  <div class="col-sm-7" dropdown>
                    <a ng-bind="param.value.color || 'edit...'" dropdown-toggle></a>
                    <ul class="dropdown-menu">
                      <li ng-repeat="(name, hex) in setupCtrl.containerColorOptions">
                        <a ng-click="param.value.color = hex"
                           ng-style="{'color' : hex}"
                           ng-bind="name"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <tx-plate container="param.value.type || '384-flat'"
                        no-select="true"
                        hide-tooltip="true"
                        group-data="{name: param.name, color: param.value.color, wells : 'all'}"></tx-plate>
            </div>
          </div>

        </tx-modal>
      </div>
      <tx-protocol-field ng-switch-default
                         field="param"
                         ng-model="param.value"
                         hide-title="true"
                         prevent-variable="true"
                         ng-class="{'highlight' : deleteRow}">
      </tx-protocol-field>
      <a class="close"
         ng-show="hovering"
         ng-click="setupCtrl.deleteParam(param)"
         ng-mouseenter="deleteRow = true"
         ng-mouseleave="deleteRow = false">&times;</a>
    </div>
    <div class="setup-variable">
      <div class="add-parameter dropdown"
           ng-click="showParameters = !showParameters"
           ng-class="{'open' : showParameters}">
        <span class="glyphicon glyphicon-plus"></span>
        Add Parameter
        <ul class="dropdown-menu parameter-list dropdown-menu-right"
            ng-mouseleave="showParameters = false">
          <li>
            <a class="parameter-option"
               ng-click="setupCtrl.addContainer()">{{'container' | capfirst}}</a>
          </li>
          <li class="divider"></li>
          <li ng-repeat="item in setupCtrl.paramTypes | filter:{type:'dimensional'}">
            <a class="parameter-option"
               ng-click="setupCtrl.addParam(item.name)">{{item.name | capfirst}}</a>
          </li>
          <li class="divider"></li>
          <li ng-repeat="item in setupCtrl.paramTypes | filter:{type:'primitive'}">
            <a class="parameter-option"
               ng-click="setupCtrl.addParam(item.name)">{{item.name | capfirst}}</a>
          </li>
          <li class="divider"></li>
          <li ng-repeat="item in setupCtrl.paramTypes | filter:{type:'custom'}">
            <a class="parameter-option"
               ng-click="setupCtrl.addParam(item.name)">{{item.name | capfirst}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
