<div class="protocol-editor-header">
  <span>Protocol</span>
  <a ng-click="editorCtrl.toggleAllSteps()">
    {{ editorCtrl.allStepsOpen ? "Collapse All" : "Expand All" }}
  </a>
</div>
<tx-protocol-setup parameters="editorCtrl.protocol.parameters"
                   tx-protocol-droppable="editorCtrl.optsDroppableSetup"
                   class="protocol-setup"
                   tx-inspector-select
                   select-trigger="mouseenter"
                   select-title="'Setup'"
                   select-type="'step:'"
                   select-description="'Sets global parameters'"
                   ng-file-drop
                   ng-multiple="false"
                   accept="application/json"
                   drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                   ng-file-change="editorCtrl.onFileDrop($files, $event, $rejectedFiles)">
</tx-protocol-setup>
<div class="protocol-instructions"
     tx-protocol-droppable="editorCtrl.optsDroppableEditor">
  <tx-protocol-group ng-repeat="group in editorCtrl.protocol.groups"
                     class="protocol-group"
                     tx-inspector-select
                     select-trigger="mouseenter"
                     select-title="group.name || 'Unnamed'"
                     select-type="'group:'"
                     select-description="group.metadata.description"
                     protocol-group="group">
  </tx-protocol-group>
</div>
<div class="editor-bottom-space flex-grower"
     style="min-height: 100px;"
     tx-protocol-droppable="editorCtrl.optsDroppableEditorBottom"></div>
