<div class="row">

  <div class="col-md-9 col-md-offset-3">
    <div ng-form="ProtocolForm"
         class="panel panel-info"
         ng-class="{'panel-danger' : ProtocolForm.ProtocolJsonEditor.$invalid}"
         ng-init="showJson = false">
      <div class="panel-heading">
        <div class="btn-group btn-middle pull-right">
          <button class="btn btn-default btn-sm"
                  tooltip="Toggle visibility of all steps"
                  tooltip-append-to-body="true"
                  ng-click="toggleInstructionCollapsed()">
            <span class="glyphicon"
                  ng-class="{'glyphicon-eye-open' : allStepsVisibleState,
                             'glyphicon-eye-close' : !allStepsVisibleState}"></span>
          </button>
          <button class="btn btn-default btn-sm"
                  ng-disabled="ProtocolForm.ProtocolJsonEditor.$error.json"
                  tooltip="Download Protocol"
                  tooltip-append-to-body="true"
                  tx-downloadjson
                  filename="{{(meta.name ? meta.name : 'protocol') + '.json'}}"
                  download-model="protocol">
            <span class="glyphicon glyphicon-save-file"></span>
          </button>
          <button class="btn btn-default btn-sm"
                  ng-disabled="ProtocolForm.ProtocolJsonEditor.$error.json"
                  ng-click="onSave({$protocol : protocol, $meta : meta})"
                  tooltip="Save Protocol"
                  tooltip-append-to-body="true">
            <span class="glyphicon glyphicon-cloud-download"></span>
          </button>
          <button class="btn btn-default btn-sm"
                  ng-class="{'btn-primary' : showJson}"
                  ng-disabled="ProtocolForm.ProtocolJsonEditor.$error.json"
                  ng-click="showJson = !showJson">
            JSON
          </button>
        </div>
        <p contenteditable
           ng-model="meta.name"
           ng-bind="meta.name"
           ng-model-options="{updateOn: 'blur'}"
           style="margin-bottom: 0;"></p>
      </div>

      <div ng-hide="showJson">
        <tx-refs refs="protocol.refs"></tx-refs>
        <div class="panel-body instructionDropTarget"
             ui-sortable="instructionSortableOptions"
             ng-model="protocol.instructions">
          <!-- note: can't use track by when using ui-sortable -->
          <tx-instruction ng-repeat="inst in protocol.instructions"
                          class="protocol-instruction"
                          protocol="protocol"
                          instruction-index="{{$index}}"></tx-instruction>
        </div>
      </div>

      <div ng-show="showJson"
           ng-file-drop
           ng-multiple="false"
           accept="application/json"
           drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
           ng-file-change="onFileDrop($files, $event, $rejectedFiles)">
        <pre json-editor
             contenteditable
             json-editor-active="{{showJson}}"
             name="ProtocolJsonEditor"
             ng-model="protocol"
             ng-model-options="{updateOn: 'blur'}"></pre>
      </div>

    </div>
  </div>

  <!-- put this second for z-index stacking so that it shows above protocol itself -->
  <div class="col-md-3 instruction-panel"
       simple-sticky="20"
       style="position: absolute;">
    <div class="panel panel-default">
      <div class="panel-heading">
        Instructions
      </div>
      <div class="list-group"
           ui-sortable="newSortableOptions"
           ng-model="instructionOptions">
        <a class="list-group-item drag-handle"
           ng-repeat="i in instructionOptions track by i"
           ng-bind="i | capfirst"></a>
      </div>
    </div>
  </div>

  <div class="container"
       ng-if="ProtocolForm.ProtocolJsonEditor.$invalid"
       style="position: fixed; top: 20px;">
    <div class="alert alert-danger">
      <p>Looks like your JSON is invalid :( You can hit <code>ESC</code> to revert.</p>
    </div>
  </div>

</div>
