<div class="operation-name"
     ng-click="opCtrl.isCollapsed = !opCtrl.isCollapsed"
     ng-class="{'open': isCollapsed}">
  <span ng-bind="opCtrl.op.operation"></span>
  <span class="glyphicon glyphicon-cog"
        ng-show="opCtrl.isCollapsed"
        ng-click="opCtrl.toggleActionsMenu($event)"></span>
</div>
<tx-protocol-field class="operation-field"
                   ng-show="opCtrl.isCollapsed"
                   ng-class="{'open': isCollapsed}"
                   ng-repeat="field in opCtrl.op.fields"
                   ng-model="field.value"
                   field="field">
</tx-protocol-field>
<div class="pre-scrollable"
     ng-class="{'open' : jsonEditing}"
     ng-mouseleave="jsonEditing = !jsonEditing">
     <pre json-editor
          ng-if="jsonEditing"
          contenteditable
          json-editor-active="{{jsonEditing}}"
          name="ProtocolStepEditor"
          ng-model="opCtrl.op"
          ng-model-options="{updateOn: 'blur'}">
     </pre>
</div>
