<div class="protocol-title" dropdown>
  <div dropdown-toggle>
    <span class="protocol-name"
          ng-bind="actionCtrl.protocol.name"></span>

    <div class="glyphicon-circle">
      <span class="glyphicon glyphicon-option-horizontal"></span>
    </div>
  </div>
  <div class="dropdown-menu">
    <p>Todo - name, metadata, tags, sharing</p>
  </div>
</div>

<div class="protocol-actions-container">
  <div class="btn-group protocol-actions-left">
    <btn-delete delete-text="Delete Protocol"
                on-delete="onDelete()"></btn-delete>
    <button class="btn btn-default btn-sm"
            tooltip="Download Protocol"
            tooltip-append-to-body="true"
            tx-downloadjson
            filename="{{(actionCtrl.protocol.name ? actionCtrl.protocol.name : 'protocol') + '.json'}}"
            download-model="actionCtrl.protocol">
      <span class="glyphicon glyphicon-save-file"></span>
    </button>
    <button class="btn btn-default btn-sm"
            ng-disabled="actionCtrl.protocolForm.$error.json"
            ng-class="{'btn-info' : actionCtrl.protocolForm.$dirty}"
            ng-click="handleSave()"
            tooltip="Save Protocol"
            tooltip-append-to-body="true">
      <span class="glyphicon glyphicon-cloud-upload"></span>
    </button>
    <button class="btn btn-default btn-sm"
            ng-disabled="actionCtrl.protocolForm.$error.json"
            ng-click="actionCtrl.logAutoprotocol()"
            tooltip="Log Autoprotocol"
            tooltip-append-to-body="true">
      <span class="glyphicon glyphicon-console"></span>
    </button>
  </div>

  <div class="protocol-actions-right">
    <div class="btn-group">
      <button class="btn btn-default btn-sm btn-labeled">
        <span class="btn-label">
          <span class="glyphicon glyphicon-check"></span>
        </span>
        Verify
      </button>
      <button class="btn btn-default btn-sm btn-labeled">
        <span class="btn-label">
          <span class="glyphicon glyphicon-share"></span>
        </span>
        Run
      </button>
    </div>
  </div>
</div>
