<div class="field-label"
    ng-click="fieldCtrl.toggleVariableSelect()"
    ng-class="{optional: fieldCtrl.field.optional == true}"
    ng-bind="fieldCtrl.field.name">
</div>
<div ng-show="fieldCtrl.showingVariable" class="field-value field-variable">
  <tx-protocol-field-variable field="fieldCtrl.field"
                              ng-model="fieldCtrl.variable">
  </tx-protocol-field-variable>
</div>
<div ng-hide="fieldCtrl.showingVariable" class="field-value">
  <tx-protocol-field-inner></tx-protocol-field-inner>
</div>
