<div class="protocol-group-wrap"
     ng-class="{'show-group':groupCtrl.group.steps.length > 1 || groupCtrl.group.loop > 1}"
     tx-protocol-draggable="groupCtrl.optsDraggableGroup"
     tx-protocol-droppable="groupCtrl.optsDroppableGroup">
  <div class="protocol-group-header"
       ng-show="groupCtrl.group.steps.length > 1 || groupCtrl.group.loop > 1;">
    <input class="group-name input-unstyled"
           type="text" auto-grow
           placeholder="Group Name"
           ng-model="groupCtrl.group.name">
    <span class="group-repeat">
      <input class="input-unstyled"
             type="number" min="1" max="100"
             tx-numbers-only
             ng-model="groupCtrl.group.loop"/>
    </span>

  </div>
  <div class="protocol-group-main">
    <tx-protocol-op ng-repeat="step in groupCtrl.group.steps"
                    tx-protocol-draggable="groupCtrl.optsDraggableInstruction"
                    tx-protocol-droppable="groupCtrl.optsDroppableInstruction"
                    protocol-step="groupCtrl.group.steps[$index]"
                    tx-inspector-select
                    select-trigger="mouseenter"
                    select-title="step.operation || 'Unnamed'"
                    select-type="'step:'"
                    select-description="step.metadata.description">
    </tx-protocol-op>
  </div>
</div>
