<div class="protocol-op-wrap">
  <div class="verification"
       ng-class="{'expanded' : opCtrl.isVisible}"
       ng-if="opCtrl.verification">
    <div class="verification-alert">
      <span class="glyphicon glyphicon-alert"></span>
    </div>
    <div class="verification-flag"
         ng-class="{'op-open' : opCtrl.isVisible}">
      <span ng-bind="opCtrl.verification.message"></span>
    </div>
  </div>

  <div class="operation-name"
       ng-click="opCtrl.isVisible = !opCtrl.isVisible">
    <span ng-bind="opCtrl.op.operation"></span>

    <div class="dropdown pull-right"
         dropdown
         is-open="showActions">
    <span class="glyphicon glyphicon-cog"
          ng-show="opCtrl.isVisible"
          squelch-event="click"
          dropdown-toggle></span>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a ng-click="opCtrl.toggleModal($event)">
          Verify Protocol
        </a></li>
        <li><a ng-click="opCtrl.toggleJsonEditing($event)">
          Show JSON
        </a></li>
        <li><a ng-click="deleteStep()">
          Delete Step
        </a></li>
      </ul>
    </div>
  </div>

  <div class="operation-fields"
       ng-show="opCtrl.isVisible">
    <tx-protocol-field ng-repeat="field in opCtrl.op.fields"
                       ng-model="field.value"
                       field="field">
    </tx-protocol-field>
  </div>

  <tx-modal ng-show='modalShown'>
    <tx-run></tx-run>
  </tx-modal>

  <div class="pre-scrollable modal-background"
       ng-class="{'open' : jsonEditing}">
    <span class="modal-close"
          ng-click="jsonEditing = false">&times</span>
    <pre json-editor
         ng-if="jsonEditing"
         contenteditable
         json-editor-active="{{jsonEditing}}"
         name="ProtocolStepEditor"
         ng-model="opCtrl.op"
         ng-model-options="{updateOn: 'blur'}">
    </pre>
  </div>

  <tx-operation-popover ng-if="opCtrl.isHovered"
                        ng-hide="opCtrl.isVisible || opCtrl.verification"
                        operation="opCtrl.op"></tx-operation-popover>
</div>
