<div class="protocol-op-wrap">
  <div class="verification"
       ng-class="{'expanded' : opCtrl.isVisible}"
       ng-if="opCtrl.verification">
    <div class="verification-alert">
      <span class="glyphicon glyphicon-alert"></span>
    </div>
    <div class="verification-flag"
         ng-class="{'op-open' : opCtrl.isVisible}">
      <span ng-bind="opCtrl.verification.message"></span>
    </div>
  </div>

  <div class="operation-header"
       ng-click="opCtrl.isVisible = !opCtrl.isVisible">
    <span class="operation-name"
          ng-bind="opCtrl.op.operation"></span>

    <div class="dropdown group-items"
         dropdown>
      <span class="operation-dropdown-toggle glyphicon glyphicon-cog"
            squelch-event="click"
            dropdown-toggle></span>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <a ng-click="opCtrl.verifyProtocol()">
            Verify Protocol
          </a>
        </li>
        <li>
          <a ng-click="duplicateStep()">
            Duplicate
          </a>
        </li>
        <li>
          <a ng-click="deleteStep()">
            Delete
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="operation-fields"
       ng-if="opCtrl.isVisible">
    <tx-protocol-field ng-model="opCtrl.op.description"
                       prevent-variable="true"
                       field="{name: 'description', type: 'string'}">
    </tx-protocol-field>
    <tx-protocol-field ng-repeat="field in opCtrl.op.fields"
                       ng-model="field.value"
                       field="field">
    </tx-protocol-field>
  </div>

  <tx-operation-popover ng-if="opCtrl.isHovered"
                        ng-hide="opCtrl.isVisible || opCtrl.verification"
                        operation="opCtrl.op"></tx-operation-popover>
</div>
