<div class="protocol-group-header">

  <div class="glyphicon pull-left"
       ng-click="isCollapsed = !isCollapsed"
       ng-class="{'glyphicon-menu-down'  : !isCollapsed,
                  'glyphicon-menu-right' : isCollapsed}"></div>

  <div class="glyphicon-circle with-background pull-right"
       dropdown>
    <span class="glyphicon glyphicon-option-horizontal"
          dropdown-toggle></span>

    <ul class="dropdown-menu">
      <li><a>Duplicate Step</a></li>
      <li><a>Save as Template</a></li>
      <li><a>Delete Step</a></li>
    </ul>
  </div>

  <input class="group-name input-unstyled"
         auto-grow
         placeholder="Group Name"
         ng-model="groupCtrl.group.name">
</div>
<div class="protocol-group-main"
     ng-hide="isCollapsed">

  <tx-protocol-op ng-repeat="step in groupCtrl.group.steps"
                  protocol-step="step">
  </tx-protocol-op>

</div>
<div class="protocol-group-footer"
     ng-hide="isCollapsed">

  <div class="protocol-group-footer-actions clearfix">

    <div class="glyphicon glyphicon-edit pull-left"
         ng-click="jsonEditing = !jsonEditing"></div>

    <div class="glyphicon glyphicon-menu-hamburger pull-right"
         ng-click="logCollapsed = !logCollapsed"></div>
  </div>

  <pre json-editor
       ng-if="jsonEditing"
       contenteditable
       json-editor-active="{{jsonEditing}}"
       name="ProtocolGroupEditor"
       ng-model="groupCtrl.group"
       ng-model-options="{updateOn: 'blur'}"></pre>

</div>
