<table>
  <thead><tr>
    <td>Name</td>
    <td>Type</td>
    <td>Value</td>
  </tr></thead>
  <tbody>
    <tr ng-repeat="param in paramsCtrl.parameters">
      <td>
        <input type="text"
               ng-model="param.name">
      </td>
      <td>
        <select ng-model="param.type"
                ng-options="o as o for o in paramsCtrl.inputOptions"></select>
      </td>
      <td>
        <input type="text"
               ng-model="param.value">
      </td>
    </tr>
    <tr>
      <button class="btn btn-default"
              ng-click="paramsCtrl.addParameter()">Add</button>
    </tr>
  </tbody>
</table>
