<div>
  <div>
    <div class="btn-group"
         style="margin-right: 15px;">
      <button class="btn btn-default btn-sm btn-labeled"
              ng-class="{'btn-info' : editorCtrl.paramsVisible}"
              ng-click="editorCtrl.paramsVisible = !editorCtrl.paramsVisible">
          <span class="btn-label">
            <span class="glyphicon glyphicon-list-alt"></span>
          </span>
        Parameters
      </button>
      <button class="btn btn-default btn-sm btn-labeled"
              ng-class="{'btn-info' : editorCtrl.refsVisible}"
              ng-click="editorCtrl.refsVisible = !editorCtrl.refsVisible">
          <span class="btn-label">
            <span class="glyphicon glyphicon-link"></span>
          </span>
        References
      </button>
    </div>
  </div>

  <tx-protocol-parameters class="protocol-parameters"
                          ng-show="editorCtrl.paramsVisible"
                          parameters="editorCtrl.protocol.parameters">
  </tx-protocol-parameters>

  <tx-protocol-refs ng-show="editorCtrl.refsVisible"
                    references="editorCtrl.protocol.references"
                    class="protocol-references">
  </tx-protocol-refs>
</div>

<div class="protocol-instructions"
     ui-sortable="editorCtrl.groupSortableOptions"
     ng-model="editorCtrl.protocol.groups">
  <tx-protocol-group ng-repeat="group in editorCtrl.protocol.groups"
                     protocol-group="group">
  </tx-protocol-group>
</div>

<pre class="pre-scrollable"
     ng-bind="editorCtrl.protocol | json">
</pre>
