<div class="field-label"
     ng-if="!fieldCtrl.hideTitle"
     ng-class="{optional: fieldCtrl.field.optional == true}"
     ng-bind="(fieldCtrl.field.readable || fieldCtrl.field.name) | fieldReadable">
</div>
<div class="field-value"
     ng-mouseleave="fieldCtrl.closeDropdown()"
     ng-mouseenter="fieldCtrl.cancelDropdown()">
  <div class="pull-right field-parameter-toggler"
       ng-if="!fieldCtrl.preventVariable && fieldCtrl.parameterAllowed(fieldCtrl.field.type)"
       ng-click="fieldCtrl.paramListVisible = !fieldCtrl.paramListVisible"
       ng-class="{'active' : fieldCtrl.field.parameter,
                   'open' : fieldCtrl.paramListVisible}">

    <span class="glyphicon glyphicon-usd"></span>

    <ul class="field-parameter-dropdown dropdown-menu">
      <li ng-show="fieldCtrl.field.parameter"
          ng-click="fieldCtrl.clearParameter()">
        <a>standard entry</a>
      </li>
      <li class="divider"
          ng-show="fieldCtrl.field.parameter"></li>
      <li ng-repeat="p in fieldCtrl.parameters | filter:{type: fieldCtrl.field.type} as filteredParams"
          ng-class="{active : p.name == fieldCtrl.field.parameter}"
          ng-click="fieldCtrl.selectParameter(p, $event)">
        <a ng-bind="p.name"></a>
      </li>
      <li class="disabled" ng-show="filteredParams.length == 0">
        <a>no relevant parameters</a>
      </li>
      <li class="divider"
          ng-if="!fieldCtrl.field.parameter || !fieldCtrl.parameters[fieldCtrl.field.type]"></li>
      <li ng-if="!fieldCtrl.field.parameter"
          ng-click="fieldCtrl.createNewParameter()">
        <a>create new parameter...</a>
      </li>
    </ul>
  </div>

  <div ng-show="fieldCtrl.field.parameter"
       class="field-value-inner field-parameter">
    {{fieldCtrl.field.parameter}}
  </div>
  <div ng-hide="fieldCtrl.field.parameter"
       class="field-value-inner">
    <tx-protocol-field-inner></tx-protocol-field-inner>
  </div>
</div>
