<div class="protocol-group-header"
     ng-click="isCollapsed = !isCollapsed">

  <input class="group-name input-unstyled"
         type="text"
         auto-grow
         placeholder="Group Name"
         ng-model="groupCtrl.group.name"
         ng-click="$event.stopPropagation()">

  <div dropdown is-open="showActions"
       ng-click="$event.stopPropagation()">
    <input class="group-repeat input-unstyled"
           type="number"
           placeholder="Repeat"
           min="1"
           max="100"
           ng-model="groupCtrl.group.loop">
    <span class="group-repeat"></span>
    <span class="glyphicon glyphicon-cog"
          ng-show="isCollapsed"
          ng-click="groupCtrl.toggleActionsMenu($event)"></span>

    <ul class="dropdown-menu"
        ng-show="isCollapsed">
      <li>
        <a ng-click="groupCtrl.toggleActionsMenu($event, true);
                     deleteButtonVisible = !deleteButtonVisible;">
          {{deleteButtonVisible ? 'Cancel Delete' : 'Delete operation'}}
        </a>
      </li>
      <li ng-show="deleteButtonVisible">
        <a class="btn btn-danger"
             ng-click="deleteGroup()">
          OK Delete!
        </a>
      </li>
      <li><a ng-click="groupCtrl.toggleJsonEditing($event)">
        Show JSON
      </a></li>
    </ul>
  </div>

</div>

<div class="protocol-group-main"
     ui-sortable="groupCtrl.opSortOptions"
     ng-model="groupCtrl.group.steps"
     ng-show="isCollapsed">
  {{groupCtrl.group.metadata.description}}
  <tx-protocol-op ng-repeat="step in groupCtrl.group.steps"
                  protocol-step="step">
  </tx-protocol-op>
</div>

<div class="protocol-group-footer">

  <div class="protocol-group-footer-content">
     <pre json-editor
          ng-if="jsonEditing"
          contenteditable
          json-editor-active="{{jsonEditing}}"
          name="ProtocolGroupEditor"
          ng-model="groupCtrl.group"
          ng-model-options="{updateOn: 'blur'}"></pre>
  </div>

</div>
