<div class="column-wrap">

  <div class="column-8 div-centered">
    <h4 class="thin"
        style="text-align: center;"
        ng-show="!!runCtrl.processing">Processing...</h4>
  </div>

  <form name="protocolRunInfo"
        ng-hide="runCtrl.response.quote"
        class="column-8 div-centered">
    <fieldset ng-disabled="runCtrl.txCredInvalid">

      <input type="text"
             class="input-unstyled"
             ng-model="runCtrl.runTitle"
             placeholder="Run Title...">

      <div dropdown
           dropdown-append-to-body>
        <span ng-bind="runCtrl.project.name"></span>
        <input type="text"
               ng-if="creatingNewProject"
               ng-model="runCtrl.project"
               placeholder="Project Name...">
        <a class="field-action-text"
           dropdown-toggle
           ng-bind="runCtrl.project ? 'change...' : 'select...'"></a>
        <ul class="dropdown-menu"
            style="z-index: 999999">
          <li ng-if="!runCtrl.projects.length">
            <a>Loading...</a>
          </li>
          <li ng-repeat="proj in runCtrl.projects">
            <a ng-bind="proj.name"
               ng-click="runCtrl.selectProject(proj)"></a>
          </li>
          <li class="divider"></li>
          <li>
            <a ng-click="runCtrl.project = ''; creatingNewProject = true;">Create new project...</a>
          </li>
        </ul>
      </div>

      <div class="pull-right">
        <button class="btn action-button"
                ng-disabled="!(runCtrl.runTitle && runCtrl.project && runCtrl.protocol && transcripticCred.$valid)"
                ng-click="runCtrl.analyze()">Verify
        </button>

        <button class="btn action-button"
                ng-disabled="!(runCtrl.runTitle && runCtrl.project && runCtrl.protocol && transcripticCred.$valid)"
                ng-click="runCtrl.startRun()">Run
        </button>
      </div>

    </fieldset>
  </form>

  <div class="column-8 div-centered clearfix"
       ng-show="runCtrl.response.quote">
    <table class="run-response-table">
      <tr>
        <td>Run Title</td>
        <td ng-bind="runCtrl.runTitle"></td>
      </tr>
      <tr>
        <td>Project Name</td>
        <td ng-bind="runCtrl.project.name"></td>
      </tr>
      <tr ng-repeat="item in runCtrl.response.quote.items">
        <td ng-bind="item.title"></td>
        <td ng-bind="item.cost | currency"></td>
      </tr>
      <tr>
        <td>Tax Rate</td>
        <td ng-bind="runCtrl.response.quote.tax_rate + '%'"></td>
      </tr>
      <tr>
        <td>Total Cost</td>
        <td ng-bind="runCtrl.response.total_cost  | currency"></td>
      </tr>
    </table>

    <button class="btn action-button pull-right"
            ng-click="runCtrl.submit()">Run it!
    </button>
  </div>

  <div class="column-8 div-centered">
    <tx-cred-transcriptic ng-form="transcripticCred"></tx-cred-transcriptic>
  </div>
</div>

