<div ng-show="config.initiated"
     class="alert protocol-response"
     ng-class="{'alert-success' : !config.error,
                'alert-warning' : config.error}">
  <div class="corner-group">
    <a class="btn btn-sm"
       ng-if="response.id"
       ng-href="{{transcripticLink()}}">
      Visit Transcriptic
    </a>
    <a class="btn btn-sm"
       tooltip="Toggle Visible"
       tooltip-append-to-body="true"
       ng-click="hideResponse = !hideResponse">
      {{config.type}}
    </a>
  </div>
  <div ng-hide="hideResponse">
    <div ng-show="config.processing">
      {{config.textProcessing}}
    </div>
    <div ng-hide="config.processing">
      <div ng-hide="config.error">
        <p><strong>{{config.textSuccess}}</strong></p>
        <p>Cost: {{response['has_quote?'] ? response.total_cost : 'pending'}}</p>
      </div>
      <div ng-show="config.error">
        <p>{{config.textError}}</p>
        <pre ng-bind="response | json"></pre>
      </div>
    </div>
  </div>
</div>
