<form class="panel panel-default">
  <div class="panel-heading">
    Refs
    <button class="btn btn-sm btn-middle btn-default pull-right" ng-click="addRef()">Add Reference</button>
  </div>
  <div class="list-group">
    <div class="list-group-item"
         ng-repeat="(key, ref) in refs track by key"
         ng-class="{'list-group-item-warning' : !refIsValid(ref)}"
         ng-init="pseudoKey = key;
                  pseudoStore = !!ref.discard ? discardKey : ref.store.where;
                  pseudoNew = refIsNew(ref)">
      <a class="close" ng-click="removeRef(key)">&times;</a>

      <div class="form-group">
        <div contenteditable
             strip-br="true"
             ng-model="pseudoKey"
             ng-change="changeRefKey(pseudoKey, key)"
             ng-model-options="{updateOn: 'blur'}"
             required></div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">container</span>
            <select class="form-control"
                    ng-if="refIsNew(ref)"
                    ng-options="c as info.name for (c, info) in containerOptions"
                    ng-model="ref.new"></select>
            <select class="form-control"
                    ng-if="!refIsNew(ref)"
                    ng-options="c.id as (c.label || c.name || c.id) for c in containers"
                    ng-model="ref.id"></select>
            <span class="input-group-addon">
              <label>
                <input type="checkbox"
                       ng-model="pseudoNew"
                       ng-change="refIsNew(ref, pseudoNew)">
                New?
              </label>
            </span>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">destiny</span>
            <select class="form-control"
                    ng-options="o for o in storageOptions"
                    ng-model="pseudoStore"
                    ng-change="changeStorage(ref, pseudoStore)"></select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
