<div ng-show="config.initiated"
     class="alert protocol-response"
     ng-class="{'alert-success' : !config.error,
                'alert-warning' : config.error}">
  <div class="corner-group">
    <a ng-if="response.id"
       ng-href="{{transcripticLink()}}">
      Transcriptic <span class="glyphicon glyphicon-share-alt"></span>
    </a>
    <a tooltip="Toggle Visible"
       tooltip-append-to-body="true"
       ng-click="hideResponse = !hideResponse">
      <span class="glyphicon"
            ng-class="{'glyphicon-eye-open' : !hideResponse,
                       'glyphicon-eye-close' : hideResponse}"></span>
    </a>
    <span class="disabled" ng-bind="config.type"></span>
  </div>

  <div ng-hide="hideResponse">
    <div ng-show="config.processing">
      {{config.textProcessing}}
    </div>
    <div ng-hide="config.processing">
      <div ng-hide="config.error">
        <p><strong ng-bind="config.textSuccess"></strong></p>

        <!-- todo - show on run only -->
        <div ng-show="response.quote">
          <table>
            <tr>
              <td>Run Title</td>
              <td ng-bind="config.runTitle"></td>
            </tr>
            <tr>
              <td>Project Name</td>
              <td ng-bind="config.runProject.name"></td>
            </tr>
            <tr ng-repeat="item in response.quote.items">
              <td ng-bind="item.title"></td>
              <td ng-bind="item.cost"></td>
            </tr>
            <tr>
              <td>Tax Rate</td>
              <td ng-bind="response.quote.tax_rate"></td>
            </tr>
            <tr>
              <td>Total Cost</td>
              <td ng-bind="response.total_cost"></td>
            </tr>
          </table>
        </div>
      </div>
      <div ng-show="config.error">
        <p>{{config.textError}}</p>
        <pre ng-bind="response | json"></pre>
      </div>
    </div>
  </div>
</div>
