<div class="input-group">
  <span ng-bind="label ? label : (!!multiple ? 'wells' : 'well')"
        class="input-group-addon"></span>
  <select class="form-control"
          ng-if="specifyContainer"
          style="width: 30%"
          ng-options="r as r for (r, details) in refs"
          ng-model="internal.container"></select>
  <input type="text"
         ng-model="internal.wells"
         ng-list
         ng-style="{'width' : specifyContainer ? '70%' : null}"
         class="form-control">
</div>
