<tx-protocolslider class="topbar"
                   protocols="restyleCtrl.firebaseProtocols"
                   protocol-selected="restyleCtrl.currentProtocol">
</tx-protocolslider>

<div class="twocolumn">
  <div class="sidepanel sidepanel-flex"
       resizeable
       resize-property="width"
       resize-position="right"
       resize-direction="horizontal">
    <tx-gallery class="flex-grower"></tx-gallery>

    <tx-inspector inspect="currentlySelected"
                  resizeable
                  resize-property="height"
                  resize-position="top"
                  resize-direction="vertical"></tx-inspector>
  </div>
  <div class="maincolumn maxout-height-scroll">
    <tx-protocolnew protocol="restyleCtrl.currentProtocol">
    </tx-protocolnew>
  </div>
</div>
